.accordionjs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.accordionjs .acc_section {
    border: 0 solid #ccc;
    margin-bottom: 15px;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.accordionjs .acc_section .acc_head {
  position: relative;
  background: #fff;
  padding: 5px 10px;
  display: block;
  cursor: pointer;
}
.accordionjs .acc_section .acc_head h3 {
    color: #03126d;
    font-family: "Montserrat Medium";
    font-size: 16px;
    line-height: 35px;
    margin: 5px 0;
}
.accordionjs .acc_section .acc_content {
    color: #666666;
    padding:20px;
	width:100%; float:left;
}
.acc_section.acc_active {
    background: #fff none repeat scroll 0 0;
}
.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordionjs .acc_section.acc_active > .acc_content {
  display: block;
}
.accordionjs .acc_section.acc_active > .acc_head {
  background: #3185ff;
  border-bottom: 0 solid #ccc;
}
.accordionjs .acc_section.acc_active > .acc_head h3{color:#fff;}
.accordionjs .acc_section.acc_active > .acc_head h3 .dc_icon01{background:url(../images/life_white.png) no-repeat center;}
.accordionjs .acc_section.acc_active > .acc_head h3 .dc_icon02{background:url(../images/clock_white.png) no-repeat center;}
.accordionjs .acc_section.acc_active > .acc_head h3 .dc_icon03{background:url(../images/doctor_icon_white.png) no-repeat center;}
.accordionjs .acc_section.acc_active > .acc_head h3 .dc_icon04{background:url(../images/sering_white.png) no-repeat center;}
