@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0;
}
img {
	max-width: 100%;
}
.home_banner02 {
	float: left;
	position: relative;
	width: 100%;
}
.header {
	float: left;
	height: 100px;
	left: 0;
	padding: 8px 0;
	position: relative;
	top: 0;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1668ff+46,37ffbb+100 */
	background: #1668ff; /* Old browsers */
	background: -moz-linear-gradient(left, #1668ff 46%, #37ffbb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1668ff 46%, #37ffbb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1668ff 46%, #37ffbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1668ff', endColorstr='#37ffbb', GradientType=1 ); /* IE6-9 */
}
.header_top {
	align-items: center;
	display: flex;
	float: left;
	justify-content: space-between;
	width: 100%;
}
.logo {
	float: left;
}
.extra_links {
	float: right;
}
.extra_links ul {
	display: flex;
	margin: 0;
	padding: 0;
	place-items: center;
	text-align: center;
	width: 100%;
}
.extra_links ul li {
	display: inline-block;
	padding: 0;
}
.extra_links ul li a {
	color: #fff;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.5px;
	position: relative;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
}
.green_icon {
	color: #1bc47a;
	margin-right: 10px;
}
.extra_links ul li.signup_btn a { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */ /*background: #f12d0c;*/ /* Old browsers */ /*background: -moz-linear-gradient(left,  #f12d0c 0%, #fe8209 100%); *//* FF3.6-15 */ /*background: -webkit-linear-gradient(left,  #f12d0c 0%,#fe8209 100%); *//* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to right,  #f12d0c 0%,#fe8209 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209',GradientType=1 ); *//* IE6-9 */

	background: rgba(254,131,9,1);
	background: -moz-linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
	background: -webkit-linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
	background: -o-linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
	background: -ms-linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
	background: linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8309', endColorstr='#f12f0c', GradientType=1 );
	border-radius: 25px;
	line-height: 50px;
	padding: 0 30px;
	position: relative;
	z-index: 1;
	color: #fff;
	overflow: hidden;
}
.extra_links ul li.signup_btn a:hover {
	text-decoration: none;
}
.extra_links ul li.signin {
	margin: 0 25px 0 0;
	padding: 0;
}
.extra_links ul li.signin a { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */ /*background: #f12d0c;*/ /* Old browsers */ /*background: -moz-linear-gradient(left,  #f12d0c 0%, #fe8209 100%);*/ /* FF3.6-15 */ /*background: -webkit-linear-gradient(left,  #f12d0c 0%,#fe8209 100%); *//* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to right,  #f12d0c 0%,#fe8209 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209',GradientType=1 );*/ /* IE6-9 */
	background: rgba(254,131,9,1);
	background: -moz-linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
	background: -webkit-linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
	background: -o-linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
	background: -ms-linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
	background: linear-gradient(145deg, rgba(254,131,9,1) 0%, rgba(241,47,12,1) 60%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8309', endColorstr='#f12f0c', GradientType=1 );
	border-radius: 25px;
	line-height: 50px;
	padding: 0 30px;
	position: relative;
	z-index: 1;
	color: #fff;
	overflow: hidden;
}
.extra_links ul li.signin a:hover {
	text-decoration: none;
}
.extra_links ul li.signin a:before { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe8209+0,f12d0c+100 */
	background: #fe8209; /* Old browsers */
	background: -moz-linear-gradient(left, #fe8209 0%, #f12d0c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fe8209 0%, #f12d0c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fe8209 0%, #f12d0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8209', endColorstr='#f12d0c', GradientType=1 ); /* IE6-9 */
	position: absolute;
	border-radius: 35px;
	height: 100%;
	width: 0%;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	content: "";
	left: 0;
	top: 0;
	z-index: -1;
}
.extra_links ul li.signin a:hover:before {
	width: 100%;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
}
.extra_links ul li.signin a:hover {
	color: #fff;
}
.countrydown ul li a, .countrydown ul li a:focus, .countrydown ul li a:hover {
	color: #000;
	outline: none;
	text-decoration: none;
}
.countrydown .selectpicker {
	background-color: #fff;
	color: #000;
	border: 1px solid #6997ff;
	line-height: 40px;
	border-radius: 25px;
}
.countrydown .btn-group.open .dropdown-toggle {
	background-color: transparent;
	color: #fff;
	border: 1px solid #6997ff;
}
.countrydown .fit-width {
	margin: 0 !important;
}
.extra_links ul li.signup_btn {
	margin: 0 25px;
	padding: 0;
}
.extra_links ul li.signup_btn a:before { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe8209+0,f12d0c+100 */
	background: #fe8209; /* Old browsers */
	background: -moz-linear-gradient(left, #fe8209 0%, #f12d0c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fe8209 0%, #f12d0c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fe8209 0%, #f12d0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe8209', endColorstr='#f12d0c', GradientType=1 ); /* IE6-9 */
	position: absolute;
	border-radius: 35px;
	height: 100%;
	width: 0%;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	content: "";
	left: 0;
	top: 0;
	z-index: -1;
}
.extra_links ul li.signup_btn a:hover:before {
	width: 100%;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
}
.extra_links ul li.signup_btn a:hover {
	color: #fff;
}
.extra_links ul li a:hover {
	text-decoration: underline;
}
.search_box {
	position: absolute;
	top: 50%;
	width: 100%;
}
.subcription {
	position: relative;
}
.footer {
	background: #fff none repeat scroll 0 0;
	float: left;
	padding: 0;
	width: 100%;
}
.subcription {
	float: left;
	padding: 35px 0;
	width: 100%;
}
.subcription_box {
	margin: 0 auto;
	text-align: center;
	width: 60%;
}
.subcription_heading, .socialtext {
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.subcription_input_box {
	float: left;
	margin: 10px 0;
	position: relative;
	width: 100%;
}
.subcription_input {
	background: #f0f6fc;
	border: 0 solid #4e5668 !important;
	border-radius: 25px !important;
	color: #888888;
	font-weight: 600;
	height: 50px;
	padding: 2px 8px 2px 50px;
!important;
	width: 75%;
}
.mailicon {
	left: 15%;
	position: absolute;
	top: 25%;
}
.subc_btn { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */
	background: #f12d0c; /* Old browsers */
	background: -moz-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f12d0c 0%, #fe8209 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 ); /* IE6-9 */
	border: 0 none;
	border-radius: 25px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	height: 50px;
	padding: 0 30px;
	position: absolute;
	right: 0;
	top: 0;
	text-transform: uppercase;
	font-weight: 400;
	box-shadow: 0 10px 35px rgba(53,119,253,0.4)
}
.socialhelp {
	float: left;
	position: relative;
	width: 100%;
	padding-left: 80px;
}
.social_links {
	float: left;
	margin: 10px 0;
	position: relative;
}
.social_links > ul {
	float: left;
	padding: 0;
	text-align: right;
	width: 100%;
}
.social_links li {
	display: inline-block;
	padding: 0 10px 0 0;
}
.social_links a { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */
	background: #f12d0c; /* Old browsers */
	background: -moz-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f12d0c 0%, #fe8209 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 ); /* IE6-9 */
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 15px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	width: 35px;
	transition: all 0.3s ease-in-out;
}
.social_links a:hover {
	background: #bbbbbb;
	transition: all 0.3s ease-in-out;
}
.copysoci {
	border-top: 1px solid #1e2c4b;
}
.footer_section {
	background: #fff;
	width: 100%;
	float: left;
	padding: 40px 0;
	border-top: 1px solid #1e2c4b;
}
.footer_links {
	float: left;
	padding: 0 0 40px;
	position: relative;
	width: 100%;
}
.footer_box {
	float: left;
	width: 100%;
}
.footer_text {
	color: #000000;
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding-bottom: 25px;
}
.footer_box > ul {
	float: left;
	padding: 0;
	width: 100%;
}
.footer_box li {
	display: block;
}
.footer_box a {
	color: #868d9d;
	display: block;
	font-size: 13px;
	line-height: 30px;
}
.copyright {
	color: #666666;
	float: left;
	font-size: 13px;
	padding: 20px 0 0;
	text-align: left;
}
.loginsbuttn {
	float: left;
	position: relative;
	width: 100%;
}
.loginsbuttn > ul {
	float: left;
	padding: 0;
	position: relative;
	width: 100%;
}
.loginsbuttn li {
	display: block;
}
.health {
	float: left;
	margin-top: 25px;
	width: 100%;
}
.dentist a {
	background: #19ca68 none repeat scroll 0 0;
	border-radius: 8px;
	display: block;
	padding: 10px 60px 10px 30px;
	position: relative;
	width: 100%;
}
.health a { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */
	background: #f12d0c; /* Old browsers */
	background: -moz-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f12d0c 0%, #fe8209 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 ); /* IE6-9 */
	border-radius: 8px;
	display: block;
	padding: 10px 60px 10px 30px;
	position: relative;
	width: 100%;
}
.dentist a::after, .health a:after {
	background: rgba(0, 0, 0, 0) url("../images/arow.png") no-repeat scroll center center;
	content: "";
	height: 25px;
	position: absolute;
	right: 20px;
	top: 41%;
	transition: all 0.3s linear 0s;
	width: 13px;
}
.dentist a:hover:after, .health a:hover:after {
	transition: all 0.3s linear;
	right: 15px;
}
.dentist h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	margin: 0;
}
.health h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	margin: 0;
}
.dentist h4, .health h4 {
	font-size: 13px;
	padding: 8px 0 0;
	color: #fff;
}
.dentist a { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */
	background: #f12d0c; /* Old browsers */
	background: -moz-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f12d0c 0%, #fe8209 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 ); /* IE6-9 */
	border-radius: 8px;
	display: block;
	padding: 10px 60px 10px 30px;
	position: relative;
	width: 100%;
}
.select-style {
	border-radius: 0;
	height: 50px;
	overflow: hidden;
	width: 100%;
}
label.css_select_lable::before {
	content: "";
	display: block;
	height: 20px;
	pointer-events: none;
	position: absolute;
	right: 6px;
	top: 0;
	width: 20px;
}
label.css_select_lable::after {
	color: #999999;
	content: "";
	font-family: "FontAwesome";
	padding: 0 2px;
	pointer-events: none;
	position: absolute;
	right: 12px;
	line-height: 47px;
	top: 2px;
	transform: rotate(0deg);
}
label.css_select_lable {
	position: relative;
	width: 100%;
	margin: 0;
}
.select-style select {
	-webkit-appearance: none;
	-webkit-border-bottom-colors: none;
	-webkit-border-left-colors: none;
	-webkit-border-right-colors: none;
	-webkit-border-top-colors: none;
	
	-moz-appearance: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: currentcolor currentcolor #000;
	border-image: none;
	border-style: none none solid;
	border-width: medium medium 0;
	color: #999999;
	cursor: pointer;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	outline: medium none;
	padding: 13px 45px 14px 20px;
	width: 100%;
}
.select-style select:focus {
	outline: none;
}
.homeSearch_box {
	float: left;
	position: relative;
	width: 100%;
}
.outercolor {
	float: left;
	width: 100%;
}
.doctabs {
	background: #fff none repeat scroll 0 0;
	border-radius: 5px;
	float: left;
	margin: 0% 3% 3%;
	padding: 0 50px;
	width: 94%;
}
.topsearchbar {
	border-radius: 5px;
	left: 22%;
	margin: 0 auto;
	position: absolute;
	top: 40px;
	width: 56%;
}
.serach_tag {
	text-align: center;
	margin-bottom: 40px;
	text-transform: uppercase;
	color: #e6efff;
}
.topserach {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c338b+46,0b64b8+100 */
background: #1c338b; /* Old browsers */
background: -moz-linear-gradient(left, #1c338b 46%, #0b64b8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1c338b 46%,#0b64b8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1c338b 46%,#0b64b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c338b', endColorstr='#0b64b8',GradientType=1 ); /* IE6-9 */
	box-shadow: 0 20px 50px rgba(35, 102, 255, 0.2);
	float: left;	
	position: relative;
	width: 100%;
	padding: 15px;
}
.forms {
	float: left;
	position: relative;
	text-align: center;
	width: 100%;
	background: #fff none repeat scroll 0 0;
	padding: 15px;
}
.forms form {
    display: block;
    margin: 0 auto;
    width: 95%;
}
.search_form_icon, .serachinput {
	border: 1px solid #1668ff;
	display: inline-block;
	float: left;
	margin: 0;
}
button.serachbtn { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */
	background: #f12d0c; /* Old browsers */
	background: -moz-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f12d0c 0%, #fe8209 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 ); /* IE6-9 */
	border: 0 solid #14e8b8;
	border-radius: 50px;
	color: #fff;
	line-height: 50px;
	padding: 0 30px;
	right: 0px;
	position: relative;
}
.bookdoc_apps {
	width: 100%;
	float: left;
	position: relative;
	margin: 3% 0 0;
}
.app_content {
	width: 100%;
	float: left;
	position: relative;
	margin: 50px 0 0;
}
.brktag {
	font-weight: 700;
	color: #808592;
	text-transform: uppercase;
}
.light {
	font-weight: 200;
	color: #808592;
}
.brktag span {
	display: block;
}
.bluecolor {
	color: #3573ff;
	font-weight: 700;
}
.uniquepoint ul {
	padding: 0;
	margin: 20px 0
}
.uniquepoint ul li {
	display: inline-block;
	margin-bottom: 25px;
}
.icons {
	float: left;
	margin-right: 15px;
}
.appstore ul {
	padding: 0;
}
.appstore ul li {
	display: inline-block;
	margin-right: 15px;
}
.appstore ul li a {
	display: block;
}
.appstore ul li a img {
	box-shadow: 0 10px 20px rgba(0,0,0,0.5);
	border-radius: 8px;
}
.bold {
	font-weight: 700;
}
.fivestart_doctor {
	width: 100%;
	float: left;
	position: relative;
	padding: 50px 0 0;
}
.whitecolor {
	color: #fff;
}
.doctor_d {
	float: left;
	position: relative;
	padding: 205px 0 0;
}
.doctor_details .brktag {
	color: #14e8b8;
	font-size: 50px;
}
.doctor_d .heading p {
	margin: 35px 0 0;
}
.mobile_img {
	left: 0;
	max-width: 600px;
	position: absolute;
	top: -50px;
}
.doctor_points {
	float: left;
	margin: 25px 0 50px;
	padding: 14px 50px 14px 0;
	position: relative;
	width: 80%;
}
.doctor_points::before {
	background: rgba(0, 0, 0, 0) url("../images/fivestar_bg.png") no-repeat scroll center center / contain;
	content: "";
	height: 306px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.doctor_points ul {
	padding: 0;
}
.doctor_points ul li {
	background: #fff none repeat scroll 0 0;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #3587fe;
	display: block;
	line-height: 50px;
	margin: 20px 0;
	padding: 0 0 0 50px;
	position: relative;
}
.doctor_points ul li:before {
	color: #3587fe;
	content: "\f00c";
	font-family: "FontAwesome";
	position: absolute;
	left: 30px;
	line-height: 47px;
}
.doctor_im {
	position: absolute;
	right: 0;
	top: 20%;
}
.gradiant_btn {
	display: inline-block;
	position: relative;
}
.gradiant_btn a {
	display: block;
	line-height: 45px;
	padding: 8px 35px;
	color: #fff;
	border-radius: 45px;
	font-size: 16px;
	position: relative;
	transition: all 0.3s linear; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */
	background: #f12d0c; /* Old browsers */
	background: -moz-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f12d0c 0%, #fe8209 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 ); /* IE6-9 */
}
.gradiant_btn a:hover {
	box-shadow: 0 0px 10px rgba(0,0,0,0.22);
	transition: all 0.3s linear;
}
.doctabs .heading {
	margin: 0 0 25px;
	padding: 0 0 20px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.doctabs .heading:after {
	position: absolute;
	width: 100%;
	height: 10px;
	content: "";
	background: url(../images/botm_line2.png) no-repeat center;
	left: 0;
}
.doctor_im img {
	max-height: 700px;
}
.health_services {
	width: 100%;
	float: left;
	padding: 80px 0 0;
	position: relative;
}
.health_services:before {
	bottom: 0;
	content: "";
	height: 365px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
	background: url(../images/team_bg.png) no-repeat center;
}
.h_services .heading {
	text-align: center;
	color: #808592;
	font-weight: 300;
}
.h_services .heading .tag {
	text-align: center;
	color: #808592;
	font-weight: 700;
	font-size: 50px;
}
.h_services .heading p {
	font-size: 25px;
	color: #474747;
	margin: 20px 0;
}
.gradiant_blue_butn {
	display: inline-block;
	text-align: center;
	width: 100%;
}
.gradiant_blue_butn a {
	line-height: 45px;
	display: inline-block;
	transition: all 0.3s linear;
	box-shadow: 0 10px 25px rgba(53,115,255,0.30); /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f12d0c+0,fe8209+100 */
	background: #f12d0c; /* Old browsers */
	background: -moz-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f12d0c 0%, #fe8209 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f12d0c 0%, #fe8209 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 ); /* IE6-9 */
	color: #fff;
	padding: 8px 45px;
	border-radius: 25px;
	text-transform: uppercase;
}
.gradiant_blue_butn a:hover {
	transition: all 0.3s linear;
	box-shadow: 0 10px 15px rgba(53,115,255,0.60);
}
.group_img {
	text-align: center;
	padding: 50px 0 0;
}
.client_testi {
	width: 100%;
	float: left;
	padding: 80px 0;
	position: relative; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1668ff+84,77ffcd+100&1+0,0.51+100 */
	background: -moz-linear-gradient(left, rgba(22,104,255,1) 0%, rgba(22,104,255,0.59) 84%, rgba(119,255,205,0.51) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(22,104,255,1) 0%, rgba(22,104,255,0.59) 84%, rgba(119,255,205,0.51) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(22,104,255,1) 0%, rgba(22,104,255,0.59) 84%, rgba(119,255,205,0.51) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1668ff', endColorstr='#8277ffcd', GradientType=1 ); /* IE6-9 */
}
.doctabs .tags {
	color: #000;
}
.tags {
	color: #fff;
}
.client_testi .heading {
	margin: 0 0 25px;
	padding: 0 0 20px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}
.client_testi .heading::after {
	background: rgba(0, 0, 0, 0) url("../images/botm_line.png") no-repeat scroll center center;
	content: "";
	height: 10px;
	left: 0;
	position: absolute;
	width: 100%;
}
.client_testi .owl-carousel {
	position: relative;
}
.client_testi .owl-carousel::before { /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1668ff+84,77ffcd+100&1+0,0.51+100 */
	background: -moz-linear-gradient(left, rgba(22,104,255,1) 0%, rgba(22,104,255,0.59) 84%, rgba(119,255,205,0.51) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(22,104,255,1) 0%, rgba(22,104,255,0.59) 84%, rgba(119,255,205,0.51) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(22,104,255,1) 0%, rgba(22,104,255,0.59) 84%, rgba(119,255,205,0.51) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1668ff', endColorstr='#8277ffcd', GradientType=1 ); /* IE6-9 */
	opacity: 0.33;
	border-radius: 75px;
	content: "";
	height: 74%;
	left: -33px;
	position: absolute;
	top: 71px;
	width: 110%;
}
.client_testi .owl-pagination {
	display: block;
}
.testimonial {
	padding: 25px 30px 50px;
	margin: 50px 30px 30px;
	position: relative;
}
.testimonial .pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	position: absolute;
	top: -105px;
	left: 0;
	right: 0;
}
.testimonial .pic img {
	width: 100%;
	height: auto;
}
.testimonial .description {
	font-size: 15px;
	color: #666666;
	line-height: 27px;
	text-align: center;
	margin: 0;
	position: relative;
}
.testimonial .title {
	display: inline-table;
	padding: 10px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 400;
	color: #f12d0c;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: absolute;
	bottom: -22px;
	left: 0;
	right: 0;
	text-align: center;
}
.testimonial .post {
	font-size: 14px;
	color: #fff;
	display: block;
}
.owl-theme .owl-controls {
	bottom: -15px;
	opacity: 1;
	position: absolute;
	width: 100%;
}
.owl-theme .owl-controls .owl-buttons div {
	width: 50px;
	height: 50px;
	line-height: 40px;
	border-radius: 0;
	background: transparent;
}
.owl-prev {
	position: absolute;
	left: -5%;
}
.owl-next {
	position: absolute;
	right: -5%;
}
.owl-prev:after, .owl-next:after {
	content: "\f104";
	font-family: 'FontAwesome';
	font-size: 30px;
	color: #c7373c;
	opacity: 1;
}
.owl-next:after {
	content: "\f105";
}
.parents_lists {
	width: 100%;
	float: left;
	position: relative;
}
.ds_name {
	border-bottom: 3px solid #3993f5;
	padding-bottom: 15px;
}
.patients_box {
	float: left;
	position: relative;
	width: 100%;
}
.contentlink {
	float: left;
	width: 100%;
}
.realtedlinks ul {
	padding: 0;
}
.realtedlinks ul li {
	display: block;
}
.realtedlinks ul li a {
	color: #378ff8;
	display: block;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 45px;
	text-transform: uppercase;
	position: relative;
	transition: all 0.3s linear;
	padding: 0;
}
.realtedlinks ul li a:hover {
	transition: all 0.3s linear;
	padding: 0 5px;
}
.viewall {
	color: #f3370c;
	display: block;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.5px;
	line-height: 45px;
	text-transform: uppercase;
	position: relative;
	transition: all 0.3s linear;
	padding: 0;
}
.viewall:hover {
	opacity: 0.5;
	color: #f3370c
}

@media only screen and (min-width: 200px) and (max-width:500px) {
.testimonial .description:before {
	top: -20px
}
.testimonial .title {
	font-size: 12px;
}
.testimonial .post {
	font-size: 11px;
}

}

@media only screen and (min-width: 501px) and (max-width:767px) {
.testimonial {
	padding: 70px 10px 30px;
}
.testimonial .description:before {
	top: -20px
}
.testimonial .title {
	font-size: 12px;
}
.testimonial .post {
	font-size: 11px;
}
}

@media only screen and (min-width: 768px) and (max-width:900px) {
.testimonial {
	padding: 70px 10px 30px;
}
.testimonial .description:before {
	top: -20px
}
.testimonial .title {
	font-size: 12px;
}
.testimonial .post {
	font-size: 11px;
}
}

@media only screen and (min-width: 901px) and (max-width:1023px) {
.testimonial {
	padding: 70px 10px 30px;
}
.testimonial .description:before {
	top: -20px
}
.testimonial .title {
	font-size: 12px;
}
.testimonial .post {
	font-size: 11px;
}
}

@media only screen and (min-width: 1024px) and (max-width:1200px) {
.testimonial {
	padding: 70px 10px 30px;
}
.testimonial .description:before {
	top: -20px
}
.testimonial .title {
	font-size: 12px;
}
.testimonial .post {
	font-size: 11px;
}
}

@media only screen and (min-width:1201px) and (max-width:1279px) {
.serach_tag {
	font-size: 25px;
}
.forms form {
	width: 100%;
}
.topsearchbar {
	width: 78%;
	left: 11%;
}
.doctabs {
	margin: 13% 3% 3%;
}
}

@media only screen and (min-width:1280px) and (max-width:1365px) {
.serach_tag {
	font-size: 25px;
}
.forms form {
	width: 100%;
}
.topsearchbar {
	width: 78%;
	left: 11%;
}
.doctabs {
	margin: 13% 3% 3%;
}
}

@media only screen and (min-width:1365px) and (max-width:1439px) {
.serach_tag {
	font-size: 40px;
}
/*.forms form{width:100%;}*/
.topsearchbar {
	width: 78%;
	left: 11%;
}
.doctabs {
	margin: 0% 3% 3%;
}
}

@media only screen and (min-width:1440px) {
.mobile_img {
	left: 0;
	max-width: 850px;
	position: absolute;
	top: -50px;
}
.doctor_im img {
	max-height: 1000px;
}
.doctor_d {
	padding: 315px 0 0;
}
.health_services {
	padding: 200px 0 0;
}
.topsearchbar {
	width: 78%;
	left: 11%;
}
}
/*************************************
	Listing with map
*************************************/
.listing-with-map {
	background: #e9f0ff
}
.listing-with-map .home_banner02 {
	width: 100%;
	float: left;
	background: #3283ff;
	position: relative;
}
.listing-with-map .header {
	position: relative;
}
.listing-with-map .search_box {
	position: relative;
	padding-bottom: 40px;
	float: left;
	padding-top: 30px
}
.listing-with-map .topsearchbar {
	border-radius: 5px;
	left: 0;
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 100%;
}
.listing_with_map_section {
	width: 100%;
	float: left;
	position: relative;
	padding: 50px 80px;
}
.filters {
	width: 100%;
	float: left;
	margin: 0 0 20px;
	position: relative;
}
.filter01 {
	width: 25%;
	float: left;
}
.filter02 {
	width: 18%;
	float: left;
	padding: 0 12px;
}
.filter03 {
	width: 39%;
	float: left;
	padding: 0 12px 0 0;
}
.filter04 {
	width: 18%;
	float: left;
}
.days {
	width: 100%;
	float: left;
	position: relative;
}
.days ul {
	padding: 0;
	width: 100%;
	float: left;
	display: table;
}
.days ul li {
	display: table-cell;
	height: 50px;
	width: 33.33%;
}
.days ul li a {
	line-height: 50px;
	display: block;
	padding: 0 25px;
	background: #fff;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	border: 1px solid #abb6c0;
	color: #999999;
	transition: all 0.3s ease-in-out;
}
.days ul li:nth-child(2) a, .days ul li:nth-child(3) a {
	border-left: 0;
}
.days ul li a:hover {
	background: #3895f7;
	transition: all 0.3s ease-in-out;
	color: #fff;
}
.filter01 .select-style, .filter02 .select-style, .filter04 .select-style {
	border: 1px solid #abb6c0;
}
.slect_date {
	width: 100%;
	float: left;
	position: relative;
	height: 80px;
	margin: 0 0 20px;
	background: #fff;
	border: 1px solid #e0e0e0;
}
.navi_date {
	float: right;
	max-width: 375px;
	padding: 16px 0;
}
.navi_date ul {
	padding: 0;
	width: 100%;
	float: left;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.navi_date ul li {
	display: inline-block;
	text-align: center;
	padding: 0 20px;
}
.navi_date ul li a {
	white-space: pre-wrap;
	text-align: center;
	color: #222e79;
	font-size: 14px;
}
.navi_date .fa {
	font-size: 30px;
	color: #abb6c0;
}
.navi_date .fa:hover {
	color: #222e79;
}
.sidebarmap {
	position: relative;
	width: 100%;
	float: left;
	margin: 75px 0 0;
}
.doc_listings {
	width: 100%;
	float: left;
	position: relative;
}
.doclist {
	width: 100%;
	float: left;
	background: #fff;
	padding: 0 20px;
	border: 1px solid #e0e0e0;
	margin-bottom: 15px;
}
.doc_profile {
	padding: 18px 0;
	border-right: 1px solid #e0e1ec;
}
.doc_time {
	padding: 20px;
}
.doctor_detail_part {
	width: 100%;
	float: left;
}
.doctor_img {
	float: left;
	max-width: 240px;
}
.doctor_details {
	padding: 0 20px 0 25px;
	display: block;
	width: 65%;
	float: left;
}
.doctorname {
	margin-bottom: 0;
	font-size: 24px;
	position: relative;
	width: 100%;
	float: left;
}
.doctor_designation {
	font-size: 16px;
	margin: 5px 0;
}
.groupstar {
	color: #e9e9e9;
	float: left;
	font-size: 20px;
	padding: 0;
	width: 100%;
}
.checked {
	color: #e7b01d;
}
.deatils {
	color: #606b75;
	float: left;
	padding: 10px 0;
	width: 100%;
	font-size: 14px;
	font-weight: 300;
}
.redcolor {
	color: #f2300c;
}
.add_map {
	float: left;
	padding: 0 0 10px;
	width: 100%;
	font-size: 15px;
	font-weight: 400;
}
.add_map, .add_map .fa {
	color: #222e79;
}
.location_address {
	float: left;
	width: 100%;
	font-size: 16px;
	font-weight: 300;
	color: #f12d0c;
}
.location_address a {
	color: #f12d0c;
}
.doctor_time_Table {
	float: left;
	padding: 0;
	width: 100%;
}
.time_table {
	float: left;
	width: 100%;
}
.time_table > ul {
	float: left;
	padding: 0;
	width: 100%;
}
.time_table li {
	display: inline-block;
	float: left;
	text-align: center;
	width: 33.33%;
}
.time_table a, .time_table .select-style select {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 0;
	display: block;
	font-size: 14px;
	height: 45px;
	line-height: 38px;
	margin: 5px;
	transition: all 0.3s ease-in-out;
	color: #222e79;
}
.time_table a:hover {
	color: #fff;
	transition: all 0.3s ease-in-out;
	background: #222e79;
}
.time_table .select-style {
	width: 95%;
}
.pagination-wrapper {
	margin: 0;
	width: 100%;
	float: left;
}
.pagination {
	display: inline-block;
	height: 70px;
	margin-top: 20px;
	padding: 0 25px;
	border-radius: 0;
}

@media only screen and (max-width: 1199px) {
.pagination {
	height: 50px;
	margin-top: 50px;
	padding: 0 10px;
	border-radius: 25px;
}
}
.page-numbers {
	display: block;
	padding: 0 25px;
	float: left;
	transition: 400ms ease;
	color: #595959;
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 60px;
	border: 1px solid #e9f0ff;
}
.page-numbers:hover, .page-numbers.current {
	border: 1px solid #222e79;
	color: #222e79;
}
.next {
	border: 1px solid #222e79;
	color: #222e79;
}
.page-numbers.prev:hover, .page-numbers.next:hover {
	background-color: transparent;
	color: #86c023;
}
.markfav {
	display: inline-block;
	float: right;
	position: relative;
}
.markfav a {
	position: relative;
}
.markfav a::after {
	content: "\f08a";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #000;
	font-size: 22px;
	padding-right: 0.5em;
	position: absolute;
	top: 27px;
	left: -7px;
}
.markfav a:hover:after {
	content: "\f004"
}

@media only screen and (max-width: 1199px) {
.page-numbers {
	padding: 0 15px;
	font-size: 16px;
	line-height: 50px;
}
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
.page-numbers {
	padding: 0 14px;
	display: none;
}
.page-numbers:nth-of-type(2) {
	position: relative;
	padding-right: 50px;
}
.page-numbers:nth-of-type(2)::after {
	content: '...';
	position: absolute;
	font-size: 25px;
	top: 0;
	left: 45px;
}
.page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
	display: block;
}
.page-numbers:nth-last-child(-n+4) {
	padding-right: 14px;
}
.page-numbers:nth-last-child(-n+4)::after {
	content: none;
}
}

@media only screen and (min-width:768px) and (max-width:900px) {
.listing_with_map_section {
	padding: 50px 0px;
}
.filter01 {
	width: 50%;
	padding: 5px 0;
}
.filter02 {
	width: 50%;
	padding: 5px 0 5px 5px;
}
.filter03 {
	padding: 5px 0;
	;
	width: 100%;
}
.filter04 {
	width: 100%;
}
.days ul li a {
	font-size: 12px;
	line-height: 48px;
}
.doc_profile {
	border: 0;
}
.doctor_img {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.doctor_details {
	width: 100%;
	text-align: center;
}
}

@media only screen and (min-width:901px) and (max-width:1023px) {
.listing_with_map_section {
	padding: 50px 0px;
}
.filter01 {
	width: 50%;
	padding: 5px 0;
}
.filter02 {
	width: 50%;
	padding: 5px 0 5px 5px;
}
.filter03 {
	padding: 5px 0;
	;
	width: 100%;
}
.filter04 {
	width: 100%;
}
.days ul li a {
	font-size: 12px;
	line-height: 48px;
}
.doc_profile {
	border: 0;
}
.doctor_img {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.doctor_details {
	width: 100%;
	text-align: center;
}
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
.listing_with_map_section {
	padding: 50px 0px;
}
.filter01 {
	width: 50%;
	padding: 5px 0;
}
.filter02 {
	width: 50%;
	padding: 5px 0 5px 5px;
}
.filter03 {
	padding: 5px 0;
	;
	width: 100%;
}
.filter04 {
	width: 100%;
}
.days ul li a {
	font-size: 12px;
	line-height: 48px;
}
.doc_profile {
	border: 0;
}
.doctor_img {
	width: 100%;
	margin: 0 auto;
	float: none;
}
.doctor_details {
	width: 100%;
	text-align: center;
}
.doc_profile, .doc_time {
	width: 100%;
}
}

@media only screen and (min-width:1280px) and (max-width:1365px) {
.listing_with_map_section {
	padding: 50px 0;
}
.filter01 {
	width: 20%;
}
.filter02 {
	padding: 0 5px;
}
.filter03 {
	padding: 0 5px 0 0;
	width: 47%;
}
.filter04 {
	width: 15%;
}
.days ul li a {
	font-size: 12px;
	line-height: 48px;
}
.doclist {
	padding: 0 15px;
}
.doc_profile {
	padding: 15px 0;
}
.doctor_img {
	max-width: 195px;
}
.doctor_details {
	padding: 0 10px 0 20px;
	width: 62%;
}
.doctorname {
	margin-top: 5px;
}
.doc_time {
	padding: 12px;
}
.time_table a, .time_table .select-style select {
	font-size: 12px;
}
.time_table .select-style select {
	padding: 13px 14px 14px 5px;
}
.page-numbers {
	font-size: 15px;
	padding: 0 15px;
	line-height: 35px;
}
}

@media only screen and (min-width:1366px) and (max-width:1439px) {
.listing_with_map_section {
	padding: 50px 0;
}
.filter01 {
	width: 20%;
}
.filter02 {
	padding: 0 5px;
}
.filter03 {
	padding: 0 5px 0 0;
	width: 47%;
}
.filter04 {
	width: 15%;
}
.days ul li a {
	font-size: 12px;
	line-height: 48px;
}
.doclist {
	padding: 0 15px;
}
.doc_profile {
	padding: 15px 0;
}
.doctor_img {
	max-width: 195px;
}
.doctor_details {
	padding: 0 10px 0 20px;
	width: 62%;
}
.doctorname {
	margin-top: 5px;
}
.doc_time {
	padding: 12px;
}
.time_table a, .time_table .select-style select {
	font-size: 12px;
}
.time_table .select-style select {
	padding: 13px 14px 14px 5px;
}
.page-numbers {
	font-size: 15px;
	padding: 0 15px;
	line-height: 35px;
}
}
/******************************************
	Doctor Profle
******************************************/
.doct_profile {
	background: #f9fafb
}
.doct_profile .home_banner02 {
	width: 100%;
	float: left;
	background: #3283ff;
	position: relative;
}
.doct_profile .header {
	position: relative;
}
.doct_profile_section {
	width: 100%;
	float: left;
	position: relative;
	padding: 50px 0;
}
.doct_profile_box {
	width: 100%;
	float: left;
	position: relative;
}
.doct_profile_inner {
	width: 100%;
	float: left;
	background: #fff;
	padding: 0 20px;
	border: 1px solid #e0e0e0;
	margin-bottom: 15px;
}
.doct_pro_inner {
	padding: 20px 0;
}
.darkbluecolor {
	color: #222e79;
}
.doct_pro_inner .groupstar {
	margin: 20px 0 10px;
}
.doct_pro_inner .groupstar {
	font-size: 30px;
}
.tab {
	width: 100%;
	float: left;
	margin: 20px 0;
}
.tab ul {
	padding: 0;
	width: 100%;
	display: table;
}
.tab ul li {
	display: table-cell;
	text-align: center;
	width: 50%;
}
.tab ul li a {
	display: block;
	line-height: 45px;
	color: #666666;
	font-size: 18px;
	background: #fff;
	transition: all 0.3s linear;
	font-weight: 300;
}
.tab ul li a:hover, .tab ul li a.current {
	color: #fff;
	background: #222e79;
	transition: all 0.3s linear;
}
.doct_details {
	width: 100%;
	float: left;
	position: relative;
}
.doct_de_box {
	width: 100%;
	float: left;
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 0 0 15px;
}
.doct_de_box:last-child {
	border: 0;
}
.doc_heding {
	font-size: 22px;
	color: #222e79;
}
.doc_content {
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.5px;
	width: 100%;
	float: left;
}
.dviewal {
	position: absolute;
	right: 0;
}
.dviewal a {
	font-size: 14px;
	color: #f33c0c;
	letter-spacing: 0.5px;
}
.doc_map {
	width: 100%;
	float: left;
	position: relative;
	margin: 30px 0;
}
.sub_box {
	width: 100%;
	float: left;
	position: relative;
	padding: 0 0 20px;
}
.awardlist {
	padding: 0;
	width: 100%;
	position: relative;
	display: table;
}
.awardlist li {
	display: inline-block;
	background: #fafafa;
	width: 32%;
	margin: 0 0.5% 0 0;
	text-align: center;
}
.awardlist li a {
	display: block;
	line-height: 60px;
	color: #1f1b11;
}
.awrd_img {
	display: inline-block;
	margin-right: 10px;
}
.rating {
	width: 100%;
	float: left;
	position: relative;
}
.rating ul {
	padding: 0;
}
.rating ul li {
	display: flex;
	width: 55%;
	justify-content: space-between;
	align-items: center;
	text-align: left;
}
.ratingcount {
	display: block;
	text-align: left;
	width: 50%;
}
.reviewrating ul {
	padding: 0 0 20px;
	width: 100%;
	float: left;
}
.reviewrating ul li {
	display: inline-block;
	float: left;
	width: 33.33%;
}
.reviewrating .ratingcount {
	width: 100%;
}
.author {
	width: 100%;
	float: left;
	padding: 30px 0;
	font-size: 14px;
}
.reviewdate {
	display: block;
	font-size: 14px;
	color: #03126d;
	font-weight: 300;
}
.reviewrby {
	color: #606b75;
	font-weight: 300;
}
.reviewby .fa {
	color: #03126d;
}
.sidebarbg {
	background: #eaf0f5;
}
.sidebar {
	width: 100%;
	float: left;
	padding: 25px 15px;
}
.appointbook {
	color: #03126d;
	font-weight: 400;
	text-align: center;
	margin: 10px 0 30px;
}
.fullappoint {
	width: 100%;
	float: left;
	position: relative;
}
.fullappoint .select-style {
	margin-bottom: 10px;
}
.sidebar .navi_date ul li {
	padding: 0 10px;
}
.sidebar .navi_date ul li a {
	font-size: 12px;
}
.doctor_time_Table.bookappoint {
	padding: 0 10px;
}
.bookappoint .time_table li {
	width: 25%;
}
.bookappoint .time_table a, .bookappoint .time_table .select-style select {
	background: #fff;
	font-size: 12px;
	color: #666666;
	height: auto;
}
.bookappoint .time_table a:hover, .bookappoint .time_table .select-style select:hover {
	color: #fff;
	background: #222e79;
}
.bookappoint .select-style select {
	padding: 13px 16px 14px 10px;
}
.bookappointment a {
	color: #fff;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1.5px;
	position: relative;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
.bookappointment a {
	border-radius: 25px;
	line-height: 50px;
	padding: 0 30px;
	position: relative;
	z-index: 1;
	color: #fff;
	overflow: hidden;
	background: #f12d0c;
	background: -moz-linear-gradient(right, #f12d0c 0%, #fe8209 100%);
	background: -webkit-linear-gradient(right, #f12d0c 0%, #fe8209 100%);
	background: linear-gradient(to left, #f12d0c 0%, #fe8209 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 );
}
.bookappointment a::before {
	background: #f12d0c;
	background: -moz-linear-gradient(left, #fe8209 0%, #f12d0c 100%);
	background: -webkit-linear-gradient(left, #fe8209 0%, #f12d0c 100%);
	background: linear-gradient(to right, #fe8209 0%, #f12d0c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f12d0c', endColorstr='#fe8209', GradientType=1 );
	position: absolute;
	border-radius: 35px;
	height: 100%;
	width: 0%;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	content: "";
	left: 0;
	top: 0;
	z-index: -1;
}
.bookappointment a:hover:before {
	width: 100%;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
}
/*=================================================
					30072018
===================================================*/

.bootstrap-select > .btn {
	padding-right: 35px;
	padding-left: 25px;
}
.extra_links ul li:first-child a {
	text-transform: uppercase;
	font-size: 15px;
}
.doct_profile .home_banner02 {
	background: rgba(52,123,255,1);
	background: -moz-linear-gradient(to right, rgba(52,123,255,1) 80%, rgba(55,255,188,1) 100%);
	background: -webkit-linear-gradient(to right, rgba(52,123,255,1) 80%, rgba(55,255,188,1) 100%);
	background: -o-linear-gradient(to right, rgba(52,123,255,1) 80%, rgba(55,255,188,1) 100%);
	background: -ms-linear-gradient(to right, rgba(52,123,255,1) 80%, rgba(55,255,188,1) 100%);
	background: linear-gradient(to right, rgba(52,123,255,1) 80%, rgba(55,255,188,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347bff', endColorstr='#37ffbc', GradientType=1 );
}
.header {
	padding: 15px 0;
	height: auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1668ff+46,37ffbb+100 */
	background: #1668ff; /* Old browsers */
	background: -moz-linear-gradient(left, #1668ff 46%, #37ffbb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1668ff 46%, #37ffbb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1668ff 46%, #37ffbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1668ff', endColorstr='#37ffbb', GradientType=1 ); /* IE6-9 */
}

@media only screen and (max-width:991px) {
.header .container {
	max-width: 100%;
	width: 100%;
}
.extra_links ul li.signup_btn a, .extra_links ul li.signin a {
	white-space: nowrap;
}
}

@media only screen and (max-width:768px) {
.extra_links ul {
	flex-wrap: wrap;
	justify-content: center;
}
.extra_links ul li:first-child {
	width: 100%;
	display: table;
	float: left;
	padding-bottom: 20px !important;
}
.extra_links ul li.signup_btn, .extra_links ul li.signin, .extra_links ul li:last-child {
	width: 33.33333333% !important;
	margin: 0px !important;
	display: inline-block;
	float: left !important;
}
}

@media only screen and (max-width:450px) {
.extra_links ul li.signup_btn, .extra_links ul li.signin, .extra_links ul li:last-child {
	width: 100% !important;
	margin: 5px 0px !important;
	display: table;
	float: left !important;
}
.extra_links ul li.signup_btn a, .extra_links ul li.signin a {
	white-space: nowrap;
	line-height: 1;
	padding: 15px 30px;
	width: 100%;
	font-size: 15px;
	max-width: 200px;
}
.extra_links ul li .selectpicker {
	padding: 15px 30px;
	height: auto;
	line-height: 1;
	width: 100%;
	display: table;
}
.extra_links ul li .bootstrap-select {
	display: flex;
	width: 100% !important;
	max-width: 200px;
}
.header {
	padding: 15px 0;
}
.extra_links ul li:first-child {
	padding-bottom: 0px !important;
	padding-top: 15px !important;
}
.extra_links ul li:first-child a {
	text-transform: uppercase;
	font-size: 12px;
}
}
