@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:16px;
	margin:0;
}
img{max-width:100%;}
.header {
    background: #3573ff none repeat scroll 0 0;
    float: left;
    height: 100px;
    padding: 8px 0;
    position: relative;
    width: 100%;
}
.header_top {
    align-items: center;
    display: flex;
    float: left;
    justify-content: space-between;
    width: 100%;
}
.logo {
    float: left;
}
.extra_links {
    float: right;
}
.extra_links ul {
    display: flex;
    margin: 0;
    padding: 0;
    place-items: center;
    text-align: center;
    width: 100%;
}
.extra_links ul li {
    display: inline-block;
    padding: 0;
}
.extra_links ul li a {
    color: #fff;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
	position:relative;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
}
.green_icon {
    color: #1bc47a;
    margin-right: 10px;
}
.extra_links ul li.signup_btn a{
    border: 1px solid #6997ff;
    border-radius: 5px;
    line-height: 50px;   
    padding: 0 30px;
	position:relative;
	z-index:1;
	color:#fff;
}
.extra_links ul li.signup_btn a:hover{text-decoration:none;}

.countrydown ul li a, .countrydown ul li a:focus, .countrydown ul li a:hover{color:#000; outline:none; text-decoration:none;}
.countrydown .selectpicker{background-color:transparent; color:#fff; border: 1px solid #6997ff; line-height:40px;}
.countrydown .btn-group.open .dropdown-toggle{background-color:transparent; color:#fff; border: 1px solid #6997ff;}
.countrydown .fit-width{margin:0 !important;}
.extra_links ul li.signup_btn{
 margin: 0 25px;
 padding: 0;
}
.extra_links ul li.signup_btn a:before{
	background:rgba(43,94,211,0.79);
	position:absolute;
	border-radius: 5px;
	height:100%;
	width:0%;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	content:"";
	left:0;
	top:0;
	z-index:-1;
}
.extra_links ul li.signup_btn a:hover:before{
	width:100%;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
}
.extra_links ul li.signup_btn a:hover{color:#fff;}
.extra_links ul li a:hover{text-decoration:underline;}


.subcription{background:#18243f; position:relative;}
.footer {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 0;
    width: 100%;
}

.subcription {
    float: left;
    padding: 35px 0;
    width: 100%;
}
.subcription_box {
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.subcription_heading, .socialtext {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	font-weight:700;
}
.subcription_input_box {
    float: left;
    margin: 10px 0;
    position: relative;
    width: 100%;
}
.subcription_input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #4e5668 !important;
    border-radius: 0 !important;
    color: #fff;
    font-weight: 300;
    height: 50px;
    padding: 2px 8px 2px 50px; !important;
    width: 75%;
}
.mailicon {
    left: 15%;
    position: absolute;
    top: 25%;
}
.subc_btn {
    background: #3577fd none repeat scroll 0 0;
    border: 0 none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
    position: absolute;
    right: 0;
    top: 0;
	text-transform:uppercase;
	font-weight:400;
	box-shadow:0 10px 35px rgba(53,119,253,0.4);
	z-index:1;
		
}
.subc_btn:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%; width:0;
	transition:all 0.3s linear;
	background: rgba(0,0,0,0.2);
	border-radius:2px;
	z-index:-1;
}
.subc_btn:hover:before{
	width:100%; transition:all 0.3s linear;
}

.socialhelp {
    float: left;
    position: relative;
    width: 100%;
	padding-left: 80px;
}
.social_links {
    float: left;
    margin: 10px 0;
    position: relative;
   
}
.social_links > ul {
    float: left;
    padding: 0;
    text-align: right;
    width: 100%;
}
.social_links li {
    display: inline-block;
    padding: 0 10px 0 0;
}
.social_links a {
    background: #14e8b8 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
	transition:all 0.3s ease-in-out;
}
.social_links a:hover{
	background:#bbbbbb;
	transition:all 0.3s ease-in-out;
}
.copysoci{border-top:1px solid #1e2c4b;}
.footer_section{
	background:#18243f;
	width:100%;
	float:left;
	padding:40px 0;
	border-top:1px solid #1e2c4b;
}
.footer_links {
    float: left;
    padding: 0 0 40px;
    position: relative;
    width: 100%;
}
.footer_box {
    float: left;
    width: 100%;
}
.footer_text {
    color: #19ca68;
    display: block;
   font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-bottom: 25px;
}
.footer_box > ul {
    float: left;
    padding: 0;
    width: 100%;
	
}
.footer_box li {
    display: block;
}
.footer_box a {
    color: #fff;
    display: block;
    font-size: 13px;
    line-height: 30px;
}
.copyright {   
    color: #717a8d;
    float: left;
    font-size: 13px;
    padding: 20px 0 0;
    text-align: left;
    
}
.loginsbuttn {
    float: left;
    position: relative;
    width: 100%;
}
.loginsbuttn > ul {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
.loginsbuttn li {
    display: block;
}
.health {
    float: left;
    margin-top: 25px;
    width: 100%;
}
.dentist a {
    background: #19ca68 none repeat scroll 0 0;
    border-radius: 8px;
    display: block;
    padding: 10px 60px 10px 30px;
    position: relative;
    width: 100%;
}
.health a{
	background: #1ab2e6 none repeat scroll 0 0;
    border-radius: 8px;
    display: block;
    padding: 10px 60px 10px 30px;
    position: relative;
    width: 100%;
}
.dentist a::after, .health a:after{
    background: rgba(0, 0, 0, 0) url("../images/arow01.png") no-repeat scroll center center;
    content: "";
    height: 25px;
    position: absolute;
    right: 20px;
    top: 41%;
    transition: all 0.3s linear 0s;
    width: 13px;
}
.dentist a:hover:after, .health a:hover:after {transition:all 0.3s linear; right: 15px;}
.dentist h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	color:#333;
	font-weight:700;
	margin:0;
}
.health h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	color:#fff;
	font-weight:700;
	margin:0;
}
.dentist h4, .health h4 {
    font-size: 13px;
    padding: 8px 0 0;
}
.dentist a {
    background: #19ca68 none repeat scroll 0 0;
    border-radius: 8px;
    display: block;
    padding: 10px 60px 10px 30px;
    position: relative;
    width: 100%;
}

.select-style {    
    border-radius: 0;
    height: 50px;
    overflow: hidden;
    width: 100%;
}
label.css_select_lable::before {
    content: "";
    display: block;
    height: 20px;
    pointer-events: none;
    position: absolute;
    right: 6px;
    top: 0;
    width: 20px;
}
label.css_select_lable::after {
    color: #999999;
    content: "";
    font-family: "FontAwesome";
    padding: 0 2px;
    pointer-events: none;
    position: absolute;
    right: 12px;
	line-height:47px;
    top: 2px;
    transform: rotate(0deg);
}
label.css_select_lable {
    position: relative;
    width: 100%;
	margin:0;
}


.select-style select {
    -moz-appearance: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	
	-ms-appearance: none;
	-ms-border-bottom-colors: none;
	
	
    border-color: currentcolor currentcolor #000;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 0;
    color: #999999;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    outline: medium none;
   	padding: 13px 45px 14px 20px;
    width: 100%;
}
.select-style select:focus {
    outline: none;
}
.select-style select{width: 100%}
/* This is to remove the arrow of select element in IE */
select::-ms-expand {	display: none; }
select{
    -webkit-appearance: none;
    appearance: none;
}
@-moz-document url-prefix(){
	.ui-select{border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box; position: relative; overflow: hidden;}
  .select-style select { width: 110%; background-position: right 30px center !important; border: none !important;}
}

.homeSearch_box {
    float: left;
    position: relative;
    width: 100%;
}
.outercolor {
    background: #3472ff none repeat scroll 0 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    float: left;
    width: 100%;
}
.doctabs {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    margin: 19% 3% 3%;
    padding: 50px;
    width: 94%;
}
.topsearchbar {
    background: #fff none repeat scroll 0 0;   
    border-radius: 5px;
    left: 22%;
    margin: 0 auto;
    padding: 50px;
    position: absolute;
    top: -140px;
    width: 56%;
}
.serach_tag {
    text-align: center;
	margin-bottom:40px;
	text-transform:uppercase;
}
.topserach {
    float: left;
    position: relative;
    width: 100%;
}
.forms {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
}
.forms form {
    display: block;
    margin: 0 auto;
    width: 95%;
}
.search_form_icon, .serachinput {
    border: 1px solid #1668ff;
    display: inline-block;
    float: left;
    margin: 0;
}

button.serachbtn {
    background: #14e8b8 none repeat scroll 0 0;
    border: 1px solid #14e8b8;
    border-radius: 3px;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
	position:relative;
	z-index:1;
	transition:all 0.3s linear;
}
button.serachbtn:before {
    background: rgba(0,0,0,0.30);
	border-radius: 1px;
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:0;
	z-index:-1;
	transition:all 0.3s linear;
}
button.serachbtn:hover:before{
	width:100%;
	transition:all 0.3s linear;
}

.bookdoc_apps{width:100%; float:left; position:relative; margin:3% 0 0;}
.app_content{width:100%; float:left;position:relative; margin:50px 0 0;}
.brktag {font-weight:300; color:#808592; text-transform:uppercase;}
.brktag span{display:block;}
.bluecolor{color:#3573ff; font-weight:700;}
.uniquepoint ul{padding:0; margin:20px 0}
.uniquepoint ul li{display:inline-block; margin-bottom:25px;}
.icons{float:left; margin-right:15px;}
.appstore ul {padding:0;}
.appstore ul li{display:inline-block; margin-right:15px;}
.appstore ul li a{display:block;}
.appstore ul li a img{box-shadow:0 10px 20px rgba(0,0,0,0.5); border-radius:8px; transition:all 0.3s linear;}
.appstore ul li a img:hover{box-shadow:0 5px 20px rgba(0,0,0,0.2); border-radius:8px; transition:all 0.3s linear;}
.bold{font-weight:700;}
.fivestart_doctor{width:100%; float:left; position:relative; background:#3573ff; padding:50px 0 0;}
.whitecolor{color:#fff;}
.doctor_d{float:left; position:relative; padding:80px 0 0;}
.doctor_details .brktag{color:#14e8b8; font-size:50px;}
.doctor_d .heading p {
    margin: 35px 0 0;
}
.doctor_points{width:100%; float:left; position:relative; margin:25px 0;}
.doctor_points ul {padding:0;}
.doctor_points ul li{display:block; line-height:35px; color:#fff; padding:0 0 0 30px;position:relative;}
.doctor_points ul li:before{
	color: #fff;
    content: "\f00c";
    font-family: "FontAwesome";
	position:absolute;
	left:0;
	line-height:47px;
}

.gradiant_btn{display:inline-block; position:relative;}
.gradiant_btn a{
	display:block; line-height:45px; padding:8px 35px; color:#fff;
	border-radius:5px;
	font-size:16px;
	position:relative;
	z-index:1;
	transition:all 0.3s linear;
	background: rgb(61,236,196);
	background: linear-gradient(16deg, rgba(61,236,196,1) 0%, rgba(61,236,196,1) 80%, rgba(53,115,255,1) 100%); 
	box-shadow:0 0px 20px rgba(0,0,0,0.22);
}
.gradiant_btn a:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%; width:0;
	transition:all 0.3s linear;
	background: rgba(0,0,0,0.2);
	border-radius:2px;
	z-index:-1;
}
.gradiant_btn a:hover:before{width:100%; transition:all 0.3s linear;}

.gradiant_btn a:hover{
 	box-shadow:0 5px 20px rgba(0,0,0,0.4);
	transition:all 0.3s linear;	
}
.doctabs .heading {
    margin: 0 0 25px;
    padding: 0 0 20px;
    position: relative;
    text-align: center;
	text-transform:uppercase;
}
.doctabs .heading:after{
	position:absolute;
	width:100%;
	height:10px;
	content:"";
	background:url(../images/botm_line.png) no-repeat center;
	left:0;
}
.doctor_im img {
    max-height: 630px;
}

.health_services{width:100%; float:left; padding:80px 0 0;}
.h_services .heading{text-align:center;color:#808592; font-weight:300;}
.h_services .heading .tag{text-align:center;color:#808592; font-weight:300; font-size:50px;}
.h_services .heading p{font-size:25px; color:#474747; margin:20px 0;}

.gradiant_blue_butn {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.gradiant_blue_butn a{
	line-height:45px;
	display:inline-block;
	transition:all 0.3s linear;
	box-shadow:0 10px 25px rgba(53,115,255,0.60);
	background:#3573ff;
	color:#fff;
	padding:8px 45px;
	border-radius:3px;
	text-transform:uppercase;
	position:relative;
	z-index:1;
}
.gradiant_blue_butn a:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%; width:0;
	transition:all 0.3s linear;
	background: rgba(0,0,0,0.2);
	border-radius:2px;
	z-index:-1;
}
.gradiant_blue_butn a:hover:before{width:100%; transition:all 0.3s linear;}
.gradiant_blue_butn a:hover{
	transition:all 0.3s linear;
	box-shadow:0 10px 15px rgba(53,115,255,0.60);
}
.group_img{text-align:center; padding:50px 0 0;}

.client_testi{
	width:100%; float:left;
	padding:80px 0;
	position:relative;
	background:#f5f9ff;
}
.client_testi .heading {
    margin: 0 0 25px;
    padding: 0 0 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.client_testi .heading::after {
    background: rgba(0, 0, 0, 0) url("../images/botm_line.png") no-repeat scroll center center;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
}


.client_testi .owl-carousel{position:relative;}
.client_testi .owl-carousel::before {
    background: #82f0db none repeat scroll 0 0;
    content: "";
    height: 94%;
    left: 8%;
    position: absolute;
    top: 7px;
    width: 85%;
}
.client_testi .owl-pagination{display:block;}
.testimonial{
    padding: 25px 30px 50px;
    margin: 50px 30px 30px;
    position: relative;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;    
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -105px;
    left: 0;
    right: 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 15px;
    color: #fff;
    line-height: 27px;
    text-align: center;
    margin: 0;
    position: relative;
}

.testimonial .title{
    display: inline-table;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    font-weight:400;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
	text-align:center;
}
.testimonial .post{
    font-size: 14px;
    color: #fff;
	display:block;
}
.owl-theme .owl-controls {
    bottom: -15px;
    opacity: 1;
    position: absolute;
    width: 100%;
}
.owl-theme .owl-controls .owl-buttons div{
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 0;
    background: transparent;
}
.owl-prev{
    position: absolute;
    left: -5%;
}
.owl-next{
    position: absolute;
    right: -5%;
}
.owl-prev:after,
.owl-next:after{
    content: "\f104";
    font-family: 'FontAwesome';
    font-size: 30px;
    color: #c7373c;
    opacity: 1;
}
.owl-next:after{ content: "\f105"; }
 
@media only screen and (max-width: 479px){
    .testimonial{ padding: 70px 10px 30px; }
    .testimonial .description:before{ top: -20px }
    .testimonial .title{ font-size: 12px; }
    .testimonial .post{ font-size: 11px; }
}
@media only screen and (min-width:1201px) and (max-width:1279px){
	.serach_tag{font-size:25px;}
	.forms form{width:100%;}
	.topsearchbar{width: 84%;left: 8%;}
	.doctabs{margin: 13% 3% 3%;}
}

@media only screen and (min-width:1280px) and (max-width:1365px){
	.serach_tag{font-size:25px;}
	.forms form{width:100%;}
	.topsearchbar{width: 84%;left: 8%;}
	.doctabs{margin: 13% 3% 3%;}
}

@media only screen and (min-width:1365px) and (max-width:1439px){
	.serach_tag{font-size:25px;}
	.forms form{width:100%;}
	.topsearchbar{width: 80%;left: 10%;}
	.doctabs{margin: 13% 3% 3%;}
}
