@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:200px) and (max-width:500px){
.header{height:auto !important;}
.header_top, .copy{display:block !important; text-align:center;}
.logo{width:100%; text-align:center;}
.extra_links li{padding:0 !important;}
.extra_links li:first-child {width: 100%; margin-bottom:10px;}
.extra_links ul li.signup_btn a{line-height:30px;}
.extra_links ul li.signup_btn{margin:0 0 0 8px;;}
.book_appointment_section{position:relative;}
.playstore_links{margin:0 0 30px !important;}
.wrapper{width:96%;}
h1.serach_heading{margin:0 5px 30px !important; font-size:25px;}
.search_btn_div{margin:0 !important;}
.subscription_box{width:98%;}
.sub_input{width:100%;}
.sub_btn{margin-top:8px;}
.social{width:100%;}
}
@media only screen and (min-width:501px) and (max-width:767px){

.extra_links ul li.signup_btn{margin:0 0 0 8px;;}

.playstore_links{margin:0 0 30px !important;}
.wrapper{width:96%;}
h1.serach_heading{margin:0 5px 30px !important; font-size:25px;}
.search_btn_div{margin:0 !important;}
.subscription_box{width:98%;}
.sub_input{width:100%;}
.sub_btn{margin-top:8px;}

}
@media only screen and (min-width:768px) and (max-width:900px){
.extra_links ul li.signup_btn{margin:0 0 0 8px;;}

.playstore_links{margin:0 0 30px !important;}
.wrapper{width:96%;}
h1.serach_heading{margin:0 5px 30px !important; font-size:25px;}
.search_btn_div{margin:0 !important;}
.subscription_box{width:98%;}
.sub_input{width:70%;}
.sub_btn{margin-top:8px;}

}
@media only screen and (min-width:901px) and (max-width:1023px){
.extra_links ul li.signup_btn{margin:0 0 0 8px;;}

.playstore_links{margin:0 0 30px !important;}
.wrapper{width:96%;}
h1.serach_heading{margin:0 5px 30px !important; font-size:25px;}
.search_btn_div{margin:0 !important;}
.subscription_box{width:98%;}
.sub_input{width:100%;}
.sub_btn{margin-top:8px;}
}
@media only screen and (min-width:1024px) and (max-width:1200px){
.extra_links ul li.signup_btn{margin:0 0 0 8px;;}

.playstore_links{margin:0 0 30px !important;}
.wrapper{width:96%;}
h1.serach_heading{margin:0 5px 30px !important; font-size:25px;}
.search_btn_div{margin:0 !important;}
.subscription_box{width:98%;}
.sub_input{width:70%;}
.sub_btn{margin-top:8px;}
button.searchbtn{padding:0 15px !important;}
}
@media only screen and (min-width:1201px) and (max-width:1279px){}
@media only screen and (min-width:1280px) and (max-width:1365px){}
@media only screen and (min-width:1366px) and (max-width:1439px){}
@media only screen and (min-width:1440px) and (max-width:1539px){}
@media only screen and (min-width:1540px) and (max-width:1599px){}




@media only screen and (max-width:767px){

}
@media only screen and (max-width:900px){


}


@media only screen and (max-width:1366px){

}