@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:200px) and (max-width:500px){
.header {background: #196bfe none repeat scroll 0 0;height: auto !important;position: relative;}
.search_box{position:relative !important; top:0;}
.extra_links ul{display:block !important;}

.header_top, .copy{display:block !important; text-align:center;}
.logo{width:100%; text-align:center;}
.extra_links li{padding:0 !important;}
.extra_links li:first-child {width: 100%; margin-bottom:10px;}
.extra_links ul li.signup_btn {
    float: left;
    margin: 0;
    width: 50%;
}
.topsearchbar {left: 0;  margin: 0 auto; position: relative; top: 0; width: 100%;}
.serach_tag{color:#196bfe; font-size:20px;}
.topserach{padding:30px 0px;}
.serachinput.first-serach-box, .serachinput.second-serach-box {
    margin-bottom: 7px;
    margin-left: 7px;
    width: 80%;
}
button.serachbtn{position:relative !important; right:0; margin-top:20px;}
.homeSearch_box{margin-top:20px;}
.doctabs{margin:0 0 3%; width:100%; padding:0 20px;}
.tags {color: #000; font-size: 22px;}
.mobile_img{position:relative;}
.app_content{margin:0;}
.appstore ul li { float: left; margin: 0 2%;  width: 46%;}
.doctor_im{display:none;}
.doctor_points{padding:14px 0; margin:0; width:100%;}
.doctor_points ul li{font-size:12px;}
.gradiant_btn a{font-size:14px; padding: 8px 18px !important;}
.doctor_d{padding:0;}
.h_services .heading .tag{font-size:22px;}
.testimonial { padding: 10px 10px 20px; margin:50px 30px 50px;}
.subc_btn{position:relative;}
.subcription_box, .subcription_input{width:100%;}
.mailicon {left: 5%; position: absolute; top: 10%;}
.subc_btn{margin-top:20px;}

.doctor_details { padding: 0 !important; width: 100% !important;}
.forms{padding:15px 0 !important;}

.book_appointment_section{position:relative;}
.playstore_links{margin:0 0 30px !important;}
.wrapper{width:96%;}
h1.serach_heading{margin:0 5px 30px !important; font-size:25px;}
.search_btn_div{margin:0 !important;}
.subscription_box{width:98%;}
.sub_input{width:100%;}
.sub_btn{margin-top:8px;}
.social{width:100%;}
}
@media only screen and (min-width:501px) and (max-width:767px){
.header {background: #196bfe none repeat scroll 0 0;height: auto !important;position: relative;}

.header_top, .copy{display:block !important; text-align:center;}
.logo{width:100%; text-align:center; margin-bottom:20px;}
.extra_links li{padding:0 !important;}

.topsearchbar {left: 0;  margin: 0 auto; position: relative; top: 0; width: 100%;}
.serach_tag{color:#fff; font-size:20px;}
.search_box{top:36%;}
.topserach{padding:30px 0px;}
.serachinput.first-serach-box, .serachinput.second-serach-box {
    margin-bottom: 7px;
    margin-left: 7px;
    width: 80%;
}
button.serachbtn{position:relative !important; right:0; margin-top:0;}
.homeSearch_box{margin-top:80px;}
.doctabs{margin:0 0 3%; width:100%; padding:0 20px;}
.tags {color: #000; font-size: 22px;}
.mobile_img{position:relative;}
.app_content{margin:0;}
.appstore ul li { float: left; margin: 0 2%;  width: 46%;}
.doctor_im{display:none;}
.doctor_points{padding:14px 0; margin:0;}
.doctor_points ul li{font-size:12px;}
.gradiant_btn a{font-size:14px;}
.h_services .heading .tag{font-size:22px;}
.testimonial { padding: 10px 10px 20px; margin:50px 30px 50px;}
.subc_btn{position:relative;}
.subcription_box, .subcription_input{width:100%;}
.mailicon {left: 5%; position: absolute; top: 10%;}
.subc_btn{margin-top:20px;}



.book_appointment_section{position:relative;}
.playstore_links{margin:0 0 30px !important;}
.wrapper{width:96%;}
h1.serach_heading{margin:0 5px 30px !important; font-size:25px;}
.search_btn_div{margin:0 !important;}
.subscription_box{width:98%;}
.sub_input{width:100%;}
.sub_btn{margin-top:8px;}
.social{width:100%;}
}
@media only screen and (min-width:768px) and (max-width:900px){
.header {background: #196bfe none repeat scroll 0 0;height: auto !important;position: relative;}

.header_top, .copy{display:block !important; text-align:center;}

.extra_links li{padding:0 !important;}

.topsearchbar {left: 0;  margin: 0 auto; position: relative; top: 0; width: 100%;}
.serach_tag{color:#fff; font-size:26px;}
.search_box{top:22%;}
.topserach{padding:30px 0px;}
.serachinput.first-serach-box, .serachinput.second-serach-box {
    margin-bottom: 7px;
    margin-left: 12px;
    width: 90%;
}
button.serachbtn{position:relative !important; right:0; margin-top:20px;}
.serachinput:nth-child(5) {
    width: 100%;
}

.homeSearch_box{margin-top:80px;}
.doctabs{margin:0 0 3%; width:100%; padding:0 20px;}
.tags {color: #000; font-size: 26px;}
.mobile_img{position:relative;}
.app_content{margin:0;}
.appstore ul li { float: left; margin: 0 2%;  width: 46%;}
.doctor_details .brktag{font-size:26px;}
.doctor_im{top:25%}
.doctor_im img{max-height: 435px; }
.doctor_points{padding:14px 0; margin:0;}
.doctor_points ul li{font-size:12px;}
.gradiant_btn a{font-size:14px;}
.h_services .heading .tag{font-size:22px;}
.testimonial { padding: 10px 10px 20px; margin:50px 30px 50px;}
.subcription_input{width:100%;}
.mailicon{left:3%;}
.subcription_box{width:100%;}
}
@media only screen and (min-width:901px) and (max-width:1023px){
.header {background: #196bfe none repeat scroll 0 0;height: auto !important;position: relative;}

.header_top, .copy{display:block !important; text-align:center;}

.extra_links li{padding:0 !important;}

.topsearchbar {left: 0;  margin: 0 auto; position: relative; top: 0; width: 100%;}
.serach_tag{color:#fff; font-size:26px;}
.search_box{top:22%;}
.topserach{padding:30px 0px;}
.serachinput.first-serach-box, .serachinput.second-serach-box {
    margin-bottom: 7px;
    margin-left: 12px;
    width: 90%;
}
button.serachbtn{position:relative !important; right:0; margin-top:20px;}
.serachinput:nth-child(5) {
    width: 100%;
}

.homeSearch_box{margin-top:80px;}
.doctabs{margin:0 0 3%; width:100%; padding:0 20px;}
.tags {color: #000; font-size: 26px;}
.mobile_img{position:relative;}
.app_content{margin:0;}
.appstore ul li { float: left; margin: 0 2%;  width: 46%;}
.doctor_details .brktag{font-size:26px;}
.doctor_im{top:25%}
.doctor_im img{max-height: 435px; }
.doctor_points{padding:14px 0; margin:0;}
.doctor_points ul li{font-size:12px;}
.gradiant_btn a{font-size:14px;}
.h_services .heading .tag{font-size:22px;}
.testimonial { padding: 10px 10px 20px; margin:50px 30px 50px;}
.subcription_input{width:100%;}
.mailicon{left:3%;}
.subcription_box{width:100%;}
}
@media only screen and (min-width:1024px) and (max-width:1200px){
	
.topsearchbar{left: 5%;width: 90%;}	
.forms form{width:100%;}
.mobile_img{max-width:480px;}
.extra_links ul li.signup_btn{margin:0 0 0 8px;;}
.doctor_im img { max-height: 530px;}
.doctor_d{padding:20px 0 0;}
.doctor_details .brktag{font-size:40px;}
.doctor_points{padding:15px; margin-bottom:0;}
.playstore_links{margin:0 0 30px !important;}
.wrapper{width:96%;}
h1.serach_heading{margin:0 5px 30px !important; font-size:25px;}
.search_btn_div{margin:0 !important;}
.subscription_box{width:98%;}
.sub_input{width:70%;}
.sub_btn{margin-top:8px;}
button.searchbtn{padding:0 15px !important;}
}
@media only screen and (min-width:1201px) and (max-width:1279px){}
@media only screen and (min-width:1280px) and (max-width:1365px){}
@media only screen and (min-width:1366px) and (max-width:1439px){}
@media only screen and (min-width:1440px) and (max-width:1539px){}
@media only screen and (min-width:1540px) and (max-width:1599px){}




@media only screen and (max-width:767px){

}
@media only screen and (max-width:900px){


}


@media only screen and (max-width:1366px){

}