@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

body{
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:16px;
	margin:0;
}
img{max-width:100%;}
.header {
    background: #cdfff1 none repeat scroll 0 0;
    float: left;
    height: 100px;
    padding: 8px 0;
    position: relative;
    width: 100%;
}
.header_top {
    align-items: center;
    display: flex;
    float: left;
    justify-content: space-between;
    width: 100%;
}
.logo {
    float: left;
}
.extra_links {
    float: right;
}
.extra_links ul {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.extra_links ul li {
    display: inline-block;
    padding: 0 0 0 50px;
}
.extra_links ul li:first-child a {
    color: #666;
}
.extra_links ul li a {
    color: #1bc47a;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.5px;
	position:relative;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
}
.green_icon {
    color: #1bc47a;
    margin-right: 10px;
}
.extra_links ul li.signup_btn a{
    border: 1px solid #1bc47a;
    border-radius: 5px;
    line-height: 59px;   
    padding: 0 40px;
	position:relative;
	z-index:1;
}
.extra_links ul li.signup_btn{
 margin: 0 0 0 40px;
 padding: 0;
}
.extra_links ul li.signup_btn a:before{
	background:rgba(27,196,122,1);
	position:absolute;
	height:100%;
	width:0%;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	content:"";
	left:0;
	top:0;
	z-index:-1;
}
.extra_links ul li.signup_btn a:hover:before{
	width:100%;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
}
.extra_links ul li.signup_btn a:hover{color:#fff;}
.extra_links ul li a:hover{text-decoration:underline;}


.banner_section {
    float: left;
    position: relative;
    width: 100%;
}
.banner_img {
    padding-top: 0;
    text-align: right;
	max-height:500px;
}
.banner_img {
    padding-top: 0;
    text-align: right;
}
.book_appointment_section {
    bottom: 50px;
    left: 0;
    position: absolute;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
h1.serach_heading {
    color: #03126d;
    margin: 0 35px 50px;
    padding: 15px 0 0;
    position: relative;
}

h1.serach_heading::before {
    background: #03126d none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}
.seach_field_group {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
    float: left;
    padding: 50px 0;
    position: relative;
    width: 100%;
}
.search_btn_div {
    float: left;
    margin: -9px 0;
    position: relative;
    text-align: left;
    width: 100%;
}
button.searchbtn {
    background: #1bc47a none repeat scroll 0 0;
    border: 1px solid #1bc47a;
    border-radius: 8px;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
	position:relative;
	z-index:1;
	transition:all 0.3s linear;
}
button.searchbtn:before {
    background: rgba(0,0,0,0.30);
	border-radius: 8px;
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:0;
	z-index:-1;
	transition:all 0.3s linear;
}
button.searchbtn:hover:before{
	width:100%;
	transition:all 0.3s linear;
}
select.css_select {
    padding:3px 3px 15px;
    margin: 0;
    color:#666;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	 font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-weight: 400;
	border-bottom:1px solid #000;
	width:100%;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select.css_select {padding-right:18px}
}

label.css_select_lable {position:relative; width:100%;}
label.css_select_lable:after {
    content:'\f0d7';
    font-family:'FontAwesome';
    color:#000;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
    right:8px; top:2px;
    padding:0 2px 0 2px;   
    position:absolute;
    pointer-events:none;
}
label.css_select_lable:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;    
    position:absolute;
    pointer-events:none;
    display:block;
}

.work_section {
    background: #f2f9ff none repeat scroll 0 0;
    float: left;
    padding: 80px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.section_heading {
    display: inline-block;
    font-size: 36px;
    margin: 0 0 50px;
    padding: 0 0 30px;
    position: relative;
}
.section_heading::after {
    background: #03126d none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 4px;
    left: 40%;
    position: absolute;
    width: 50px;
}
.section_heading::before {
    background: #d5e1ec none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.work_list_box {
    float: left;
    position: relative;
    width: 100%;
}
.work_list_icon {
    float: left;
    position: relative;
    width: 100%;
	margin-bottom:20px;
}
.work_list_icon a {
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.work_list_detail {
    float: left;
    width: 100%;
}
h2.work_tag {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin:10px 0;
}
.content p {
    color: #606b75;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    padding: 0 25px;
}
.smart_phone_section {
    float: left;
    padding: 100px 0 0;
    position: relative;
    width: 100%;
	background:#f9f9f9;
}
.smart_phone_detail {
    float: left;
    position: relative;
    width: 100%;
	
}
.smat_tag{
	  color: #03126d;
    margin: 0 35px 50px;
    padding: 15px 0 0;
    position: relative; font-size:36px;
}
.smat_tag:before{
	background: #03126d none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}
.smart_content {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 35px 50px;
}
.playstore_links{   
    margin: 0 35px 50px;
	width:100%; float:left;
}
.playstore {
    float: left;
    padding: 0;
    width: 100%;
}
.playstore {
    float: left;
    padding: 0;
    width: 100%;
}
.playstore > li {
    display: inline-block;
    padding: 0 20px 0 0;
}
.smrt_phone{text-align:center;}
.smrt_phone > img {
    max-height: 500px;
}
.subscription {
    
    background-image: url("../images/pattern.png");
    background-position: center top;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
}
.subscription_box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 10% auto ;
    padding: 5%;
    text-align: center;
    width: 70%;
}
.subscription_box .section_heading {
    color: #03126d;
    font-weight: 300;
}
.sub_input {
    border-color: currentcolor currentcolor #ccc;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 5px 5px 15px;
    width: 70%;
}
.sub_btn{
	background: #1bc47a none repeat scroll 0 0;
    border: 1px solid #1bc47a;
    border-radius: 8px;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
	position:relative;
	position:relative;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	z-index:1;
}
.sub_btn:before{
	position:absolute;
	background:rgba(0,0,0,0.3);
	height:100%;
	width:0;
	left:0; top:0;
	content:"";
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
	border-radius: 8px;
	z-index:-1;
}
.sub_btn:hover:before{
	width:100%;
	transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	-ms-transition:all 0.3s linear;
	-webkit-transition:all 0.3s linear;
}

.footer{width:100%; float:left;}
.links {
    float: left;
    text-align: center;
    width: 100%;
}
.links > ul {
    padding: 0;
    text-align: center;
}
.links ul li {
    display: block;
    
}
.links a {
    color: #1bc47a;
    display: inline-block;
    padding: 0 8px;
    position: relative;
	font-weight:300;
	letter-spacing:1px;
	line-height: 40px;
}
.links a::before {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: all 0.3s linear 0s;
    width: 0;
}
.links a:hover::before{
    transition: all 0.3s linear 0s;
    width: 100%;
	
}
.links a:hover {color:#000;}
.copy {
    border-top: 1px solid #ccc;
   align-items: center;
    display: flex;
    float: left;
    justify-content: space-between;
    width: 100%;
	padding:8px 0;
}
.copyright {
    float: left;
}
.copyright img{max-height:50px;}

.copytext{font-size:14px; color:#ccc;}
.social{float:right;}
.social ul{padding:0;}
.social ul li{display:inline-block; padding:0 10px;}
.social ul li a{color:#4ddfb7;}

.inner_search_banner{position:relative; background:#f9f9f9; padding:80px 0; height:375px;}
.inner_search_banner .book_appointment_section{position:relative; bottom:0;}
.inner_serach_heading{color:#03126d; font-size:24px; text-align:center; font-weight:300; padding-bottom:25px;}

.mainbody {
    float: left;
    position: relative;
    width: 100%;
}
.doctor_listing_block {
    float: left;
    padding: 35px 0;
    position: relative;
    width: 100%;
}
.listing {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
.list_box {
    border: 1px solid #bfbfbf;
    float: left;
    margin: 0 0 25px;
    min-height: 270px;
    padding: 0;
    position: relative;
    width: 100%;
	border-radius:5px;
}
.list_box.active {
    border: 1px solid #e7b01d;
}
.doctor_detail_part {
    float: left;
    padding: 25px;
    width: 100%;
}
.listing .doctor_img{
    float: left;
    margin: 0 30px 0 0;
    width: auto;
}
.doctor_detail_part .doctor_img{width:30%; padding-right:20px; text-align:center;}
.doctor_details {
    float: left;
    width: 60%;
}
.sponsers_tag {
    color: #e7b01d;
    float: left;
    font-size: 12px;
    padding-bottom: 0;
    line-height: 25px;
    padding: 0 20px;
	font-family: 'Montserrat', sans-serif;
	border:1px solid #e7b01d;
	border-radius:20px;
	margin-top:0;
}
.doctorname {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
	display:block;
	width: 100%;
	float: left;
	margin-top:0;
}
.groupstar {
    color: #e9e9e9;
    float: left;
    font-size: 25px;
    padding: 0;
    width: 100%;
}
.groupstar span {
    font-size: 20px;
}
.checked {
    color: orange;
}
.deatils {
    color: #767676;
    float: left;
    padding: 10px 0;
    width: 100%;
	font-size:14px;
	font-weight:300;
}
.add_map {
    float: left;
    padding: 0 0 10px;
    width: 100%;
	font-size:14px;
	font-weight:300;
}
.location_address {
    float: left;
    width: 100%;
	font-size:14px;
	font-weight:300;
	color:#606b75;
}
.location_address a, .location_address #map_btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #1cca6a;
    display: block;
     font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.doctor_time_Table {    
    float: left;
    padding: 0;
    width: 100%;
}
.time_table {
    float: left;
    width: 100%;
}
.time_table > ul {
    float: left;
    padding: 0;
    width: 100%;
}
.time_table li {
    display: inline-block;
    float: left;
    text-align: center;
    width: 33.33%;
}
.time_table a {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #c3c3c3;
    border-radius: 50px;
    display: block;
    font-size: 14px;
    height: 45px;
    line-height: 38px;
    margin: 5px;
}
#location_map {
    display: none;
    float: left;
    width: 100%;
}
.time_table_calender {
    background: #f1f3f5 none repeat scroll 0 0;
    float: left;
    position: relative;
    top: -10px;
    width: 100%;
	border-radius:15px;
}
.calender > ul {
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
	margin:0;
}
.calender li {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
}
.calender a {
    color: #54d19b;
     font-family: 'Montserrat', sans-serif;
    font-size: 15px;
	line-height:30px;
	text-align:center;
}
.calender {
    float: left;
    position: relative;
    width: 100%;
}
.arrows:first-child {
    left: 0;
    position: absolute;
    top: 20%;
}
.arrows:last-child {
    right: 0;
    position: absolute;
    top: 20%;
}
.breadcame_section {
    float: left;
    padding: 25px 0 0;
    width: 100%;
}
.bredcam {
    float: left;
    width: 50%;
}
.bredcam .breadcrumb{background:none; padding-left: 0; margin-bottom:0;}
.bredcam .breadcrumb li a{font-size:14px; color:#1bc47a;}
.heading_Text {
    font-size: 24px; margin-top:0; color:#222222;
}
.filter {
    float: right;
}
.filter .btn {
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    padding: 5px 20px;
	color:3abb6c0;
	border-color:#abb6c0;
}
.filter .caret {
    margin-left: 10px;
}
.filter .btn:focus{background:none;}


.doctor_profile_reviews {
    float: left;
    padding: 80px 0;
    position: relative;
    width: 100%;
}
.doctor_review_slider{width:100%; float:left; position:relative;}
.review_heading{width:100%; float:left; position:relative;}
.review_heading .section_heading {
    font-family: "Montserrat",sans-serif;
    font-size: 26px;
    text-align: center;
	color:#03126d;
}
.subheading {
    color: #606b75;
    font-size: 20px;
    text-align: center;
	margin-top:10px;
	position:relative;
	display: block;
}



#testimonial-slider {
    margin: 0 auto;
    max-width: 75%;
    padding: 50px 20px 35px;
    text-align: center;
}
.testimonial .description {
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    position: relative;
    text-indent: 0;
	font-family: "Montserrat",sans-serif;
	font-weight:300;
}
.testimonial {
    float: left;
    padding: 0 25px;
    width: 100%;
}
.doctor_review_slider .description{color:#000;}
.doctor_rating_slider{width:100%; float:left; padding:20px 0; position:relative;}
.doctor_review_slider .description {
    color: #000;
    font-size: 15px;
    height: 175px;
    text-align: left;
}
.doctor_rating_slider .date, .doctor_rating_slider .title {
    text-align: left;
}
.doctor_rating_slider .owl-buttons {
    bottom: 40%;
    height: 40px;
    left: 5%;
    position: absolute;
    width: 90%;
}
.doctor_rating_slider .owl-buttons .owl-prev::before, .doctor_rating_slider .owl-buttons .owl-next::before {
    color: #c6c6c6 !important;
    font-size: 20px;
    line-height: 30px;
}
.owl-buttons .owl-prev::before, .owl-buttons .owl-next::before {
    color: #fff;
    content: "";
    font-family: "fontAwesome";
    font-size: 32px;
    font-weight: 900;
    line-height: 20px;
    opacity: 0.8;
}
.owl-buttons .owl-next::before {
    content: "";
}
.owl-prev, .owl-next {
    left: 0;
    position: absolute;
    transition: all 0.4s ease-in-out 0s;
}
.owl-next {
    left: auto;
    right: 0;
}
.doctor_rating_slider .date{color:#03126d; font-size:15px;}
.doctor_rating_slider .title {color:#515151; font-size:15px; font-family: "Montserrat Light"; font-weight:normal;}
.doctor_rating_profile {
    border-top: 1px solid #000;
    float: left;
    margin: 15px 0 0;
    padding: 15px 0 0;
    position: relative;
    width: 100%;
}
.star_for_name {
    color: #515151;
    display: block;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 15px;
    padding: 8px 0;
    width: 100%;
}
.doctor_rating_slider .owl-buttons .owl-prev::before, .doctor_rating_slider .owl-buttons .owl-next::before{color: #c6c6c6 !important; font-size: 20px;    line-height: 30px;}
.doctor_rating_slider .owl-prev, .doctor_rating_slider .owl-next {
    border: 2px solid #c6c6c6;
    border-radius: 50%;
    color: #c6c6c6 !important;
    height: 35px;
    text-align: center;
    width: 35px;
}
.doctor_rating_slider .owl-buttons {
    bottom: 40%;
    height: 40px;
    left: 5%;
    position: absolute;
    width: 90%;
}
.bookaward{width:100%; float:left; padding:25px 0;background:#f4f4f7;}
.awrdtext{font-size:26px; color:#03126d;font-family: "Montserrat",sans-serif; line-height:60px;}
.awardlist{width:100%; float:left; padding:0; text-align:center;}
.awardlist li{display:inline-block; padding:0 20px;}

.doctor_profile_tab {
    background: #f4f4f7 none repeat scroll 0 0;
    float: left;
    padding: 35px 0;
    position: relative;
    width: 100%;
}
.doctor_profile_doctors {
    float: left;
    margin: 70px 0;
    width: 100%;
}
.light-graybg {
    background: #fafcfe none repeat scroll 0 0;
}
.container.border {
    border: 1px solid #eee;
    border-radius: 5px;
}
.bookappointment {
    float: left;
    padding: 50px 0;
    position: relative;
    width: 100%;
}
.bookappointment .heading_Text {
    color: #03126d;
    margin-bottom: 40px;
    text-align: center;
}
.bookappointment .time_table_calender{background:#d6f3e9;}
.bookappointment .calender li{padding: 5px 30px;}
.bookappointment .calender li a{line-height:20px;}
.booknow_btn_div {
    float: left;
    margin: 25px 0 0;
    width: 100%;
}
.booknow_btn {
    background: #1bc47a none repeat scroll 0 0;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    line-height: 40px;
    padding: 8px 0;
    width: 100%;
	position:relative;
	z-index:1;
}
.booknow_btn:before {
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:0;
	transition:all 0.3s linear;
	z-index:-1;
	border-radius:3px;
	background:rgba(0,0,0,0.20);
}
.booknow_btn:hover:before{
	width:100%; transition:all 0.3s linear;
}
.time_table a:hover{border:2px solid #1bc47a; color:#1bc47a}
.blocked a{border:0; background:none; color:#e56262;}
.blocked a:hover{border:0; color:#e56262;}
.bookapp {
    float: left;
    margin: 20px 0 0;
    position: relative;
    width: 100%;
	padding:0 15px;
}
.bookappointment .time_table{padding:0 15px;}
.bookappointment .css_select, .bookappointment .css_select option{background:none; color:#606b75;}
.bookappointment .css_select_lable{margin-bottom:25px;}
.bookappointment .col-md-12:nth-child(2) .css_select_lable{margin-bottom:0;}

.bookappointment .col-md-12:nth-child(2) .css_select{border:0;}
.add_map, .add_map .fa{color:#222e79;}
.doctor_profiledetail {
    float: left;
    width: 100%;
	color:#606b75;
	font-size:14px; 
	font-weight:300;
	padding-bottom:10px;
	line-height:25px;
}
.allphoto_btn {
    float: left;
    margin: 20px 0 0;
    width: 100%;
}
.allphoto_btn > a {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    display: block;
    line-height: 45px;
    text-align: center;
	position:relative;
	z-index:1;
	transition: all 0.3s linear;	
}
.allphoto_btn > a:before {
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%;
	width:0;
	transition:all 0.3s linear;
	z-index:-1;
	border-radius:3px;
	background:rgba(0,0,0,0.20);
}
.allphoto_btn > a:hover:before{
	width:100%; transition:all 0.3s linear;
}
.nobg{background:none;}
.inner_subscription .subscription_box{box-shadow:none; margin:2% auto;}

.about-page .serach_heading{margin-bottom:30px;}
.about-page .book_appointment_section{bottom:25%;}
.heading_content{margin:0 35px; width:80%;}
.heading_content p{line-height:30px; color:#222222; font-size:16px; margin-bottom:30px;}
.butn a{
    background: #1bc47a none repeat scroll 0 0;
    border: 1px solid #1bc47a;
    border-radius: 8px;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
	display:inline-block;
	position:relative;
	z-index:1;
	transition:all 0.3s linear;
}

.butn a:before{
	position:absolute;
	content:"";
	left:0;
	top:0;
	height:100%; width:0;
	transition:all 0.3s linear;
	background: rgba(0,0,0,0.2);
	border-radius:2px;
	z-index:-1;
}
.butn a:hover:before{
	width:100%; transition:all 0.3s linear;
}

.whyjoin_section{
	   background: #f2f9ff none repeat scroll 0 0;
    float: left;
    padding: 80px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.whyjoin_section .work_tag{color:#03126d; font-size:24px;}

.doctor_country{
	float:left; 
	position:relative;
	padding: 80px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.find_doc {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    float: none;
    margin: 0 auto;
    max-width: 945px;
    padding: 30px;
    width: 100%;
}
label.find_doc_label {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    margin: 0 25px;
}
label.find_doc_label:nth-child(1){margin-left:0;}

.doc_slider {
    float: left;
    margin: 50px 0 0;
    position: relative;
    width: 100%;
}
.doctor-slider-content {
    background: #cdfff1 none repeat scroll 0 0;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin: 9px auto 0;
    padding: 20px;
    position: relative;
    width: 90%;
	float:left;
}
.doctor_img {
    float: left;
    margin:0;
	width:100%;
}
.doctor_img img{max-height:140px;}
.doctor-slider_name{width:100%; float:left;}
.doc_name {	
    color: #03126d;
   font-family: 'Montserrat', sans-serif;
    font-size: 20px;
	margin-bottom:0;
}
.doc_type{margin-top:0; font-size:16px; font-weight:300;}
.cd-container {
    margin: 0 auto;
    max-width: 945px;
}

.find_doc .search_field:nth-child(2) {
    display: inline-block;
    width: 40%;
}
.find_doc .search_field:nth-child(4) {
    display: inline-block;
}
.find_doc .search_btn_div{margin:0 0 0 10px; display:inline-block; float:none; width:auto;}

.service-box {
  
    position: relative;
}
.right-align .service-box{ padding-left:0;}
.right-align .service-box h4, .right-align .service-box p{text-align:right;}
.right-align .box-icon {
    left: auto !important;
    right: 0;
}
.service-box .box-icon {
    color: #5e88fc;    
    left: 0;
    line-height: 72px;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 0;
	text-align:right;
    transition: all 0.3s ease 0s;   
    z-index: 1;
}

.service-box h4 {
    margin-bottom: 10px;
}
.space-60 {
    height: 60px;
}
.feature-area .mobile-image {
    margin-bottom: -142px;
}

.app_features{width:100%; float:left;padding: 80px 0; position: relative; background:#f2f9ff;}
.left-align .box-icon {
    text-align: left;
}
.center-align .service-box, .center-align .box-icon {
    text-align: center;
}

.Clients{width:100%; float:left; position:relative; padding-bottom:80px;}

.client_box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 0 15%;
    padding: 3% 0;
    position: relative;
    text-align: center;
    top: -55px;
    width: 70%;
}
.client_list{width:100%; float:left;}
.client_list ul{padding:0; text-align:center;}
.client_list ul li{display:inline-block; width:15%;}
.half_box {
    margin: 0 auto;
    width: 70%;
}
.signupbox {
    float: left;
    padding: 0 15%;
    text-align: center;
    width: 100%;
}

.testimonial_section{
	 background: #cdfff1 none repeat scroll 0 0;
	float:left; 
	position:relative;
	padding: 80px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
h1.tag{color:#03126d; margin-bottom:30px;}
.testicontain{margin:0 auto; width:50%;}
.author{margin:20px 0;}