<!-- Modal -->
<div class="modal fade" id="modal_third">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
			<?= 
				$this->Form->create(null,[
				'type' => 'post',
				'class' => 'work_form',
				'url' => ['controller' => 'DoctorAvailability', 'action' => 'add'],
				'id' => 'form',
				'autocomplete' => "off"
				]);
			?>

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">
                    <?= __("Manage Working Hours"); ?> (
                    <span id="#docName"> <?= __("Dr")?>.
                        <?= $this->request->getSession()->read('Auth.User.user_profile.full_name')?>
                    </span>)
                </h5>
            </div>

            
			<div class="modal-body">
				<?php 
				$weekdays = $this->General->getWeekday();
				$timingOptions = $this->General->getTimings();

				foreach ($weekdays as $key => $weekday) { ?>
					<div class="form-group">
						<label for="recipient-name" class="control-label">
							<?= $weekday; ?>
						</label>
						<div class="work_hours">
							<?=
							$this->Form->control("{$key}[weekday]",[
								'type' => 'hidden',
								'value' => $key,
								'label' => false, 
							]);
						?>
								<?=
							$this->Form->control("{$key}[my_doctor_availability_timings][starttime]",[
								'type' => 'select',
								'class' => 'time_select startTime',
								'options' =>  $timingOptions,
								'empty' => 0,
								'value' => (!empty($doctorAvailabilityDay[$key]->available_from))? $doctorAvailabilityDay[$key]->available_from ->format('H:i'):"",
								'templates' => [
									'inputContainer' => '{{content}}',
								],
								'label' => false, 
							]);
						?>
									<span class="to_spn">to</span>

									<?=
							$this->Form->control("{$key}[my_doctor_availability_timings][endtime]",[
								'type' => 'select',
								'class' => 'time_select nextTime',
								'options' =>  $timingOptions,
								'empty' => 0,
								'value' => (!empty($doctorAvailabilityDay[$key]->available_upto))? $doctorAvailabilityDay[$key]->available_upto->format('H:i'):"",						
								'templates' => [
									'inputContainer' => '{{content}}',
								],
								'label' => false, 
							]);
						?>

						</div>
					</div>
				<?php } ?>

				<div class="form-group">
					<label for="recipient-name" class="control-label">Duration</label>
					<div class="input-full">
						<?php
							if(!empty($duration)) {
								echo $this->Form->control('id',['type' => 'hidden','value' => $duration->id]);
							}
					        echo $this->Form->control(
					        	'duration', array(
					            'class' => 'form-control',
					            'label' => false,
					            'options' => $this->General->getDuration(),
					            'value' => (!empty($duration)) ? $duration->duration : '',
					            'div' => false
					            )
					        );
					    ?> 
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><?= __("Cancel"); ?></button>
				<button type="submit" class="btn btn-primary"><?= __("Save");?></button>
			</div>

			<?= $this->Form->end(); ?>
		</div>
    </div>
</div>
