<div class="">
    <div class="headinglogin">
        <div class="container" style="margin-bottom: 200px;">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <?php
                    if (!empty($cmsPage)) {
                        echo $cmsPage->meta_description;
                    }
                    ?>
                </div>

            </div>   
        </div>
    </div> 
</div>
