/*@charset "utf-8";*/

.rgdev {    
    font-family: 'Montserrat Light';
	color: #fff;
	position: static;
	font-size: 15px;
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width: 70%;
    font-weight: 400;
	float: left;
}

.rgdev .active a{
    background: #fff;
    color: #009ABC;
}

.rgdev-list {
	text-align: right;
/*	text-align:center;*/
	margin: 0 auto 0 auto;
	width: 100%;
	display: table;
	padding: 0px;
}
.rgdev-item {
	position: static;
	text-align: center;
	display: inline-block;
	white-space: normal; 
	margin:0; padding:0;
    z-index: 111;
}
.rgdev-item a {
	text-transform:capitalize;
	display: block;
	color: #000;
	padding: 0px 21px;
	line-height: 40px;
	text-decoration: none;
    letter-spacing: 0.5px;
  
}

.rgdev-list li:hover>a {
	color: #fbc80c;
	background:#fff;
}
.rgdev-item a:hover {
	color: #009abc;
	background:#fff;
}
.rgdev-item a.active {
	color: #fbc80c;
	background:#fff;
}

.megamenu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    display: none;
    height: 350px;
    left: 0;
    position: absolute;
    width: 100%;
}
.megamenu .rgdev-submenu {
    float: left;
    width: 70%;
}
.submenu_content {
    background: rgba(0, 0, 0, 0) url("../images/pattern.png") no-repeat scroll center center;    
    float: left;
    height: 100%;
    width: 30%;
}

.megamenu .rgdev-submenu:after {left:60%;}
.megamenu .rgdev-submenu .rgdev-submenu-item {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    float: left;
    padding: calc(5% - 22px);
    text-align: center;
    width: 50%;
}
.megamenu .rgdev-submenu-item a{border:0; text-align:center; font-size:20px; text-transform:uppercase;}

.megamenu .rgdev-submenu-item .readmore a {
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    position: relative;
	z-index:1;
	background-color:transparent;
}

.megamenu .rgdev-submenu li:hover > a {
    background-color: transparent;
    background-image: none;
    color: #000;
}

.megamenu .rgdev-submenu-item:hover .readmore::after {
    transition: all 0.3s linear 0s;
    width: 80px;
}

.rgdev-submenu {
	/*display: none;*/
	position: relative;
	top: 0px;
	min-width:230px;
	z-index: 1000;
	padding: 0px;
	margin: 0px 0 0;
	background-color: none;
	font-size: 12px;
	list-style: none;
	
}
.rgdev-submenu:after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: transparent transparent #fbc80c transparent;
	border-image: none;
	border-style: solid;
	border-width: 6px;
	content: "";
	left:45%;
	margin-top: 0;
	position: absolute;
	top: -12px;
	z-index: 1;
}
.rgdev-submenu-item a {
    color: #000;
	background: #fff;
	text-align: left;
	border-bottom: 1px solid #e2e2e2;
	display: block;
	line-height: 22px;
	padding: 8px 15px 8px 15px;
	text-transform: none;
	border-right: solid 0px #000;
	height: auto; font-size:14px; font-weight:400;
}
.rgdev-submenu li:hover>a {
	background-image: none;
	background-color: #ccc;
	color: #000;
}
.rgdev-submenu-item a:hover {
	background-image: none;
	background-color: #ccc;
	border-radius: 0px!important;
	color: #000;
}
.rgdev-text {
	width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: #150103;
	line-height: 44px;
	text-indent: 15px;
	font-weight: normal;
	font-size: 18px;
	display: none;
	text-transform: none;
}
/* Mobile rgdevigation */
.rgdev-mobile {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 25px;
	left: 0;
	padding:10px;
	margin: 0 0;
	color: #fff;
	border-radius:0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	color: #333333;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
/*	background-color: #ec008c;*/
	background-color: #772A48;
    z-index: 111;
}
.rgdev-mobile:hover {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
	background-color: #252525;
	border-color: #000;
}
.rgdev-mobile .icon-bar {
	display: block;
	width: 18px;
	height: 2px;
	background-image: none;
	background-color: #f5f5f5;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	margin-top: 3px;
}
.rgdev-click {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	cursor: pointer;
}
.rgdev-click i {
	display: block;
	height: 23px;
	width: 25px;
	margin-top: 10px;
	margin-right: 8px;
	background: url(../images/down.png) no-repeat top left;
	background-size: 25px;
}
.rgdev-click02 {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	cursor: pointer;
}
.rgdev-click02 i {
	display: block;
	height: 23px;
	width: 25px;
	margin-top: 10px;
	margin-right: 8px;
	background: url(../theme/images/down.png) no-repeat top left;
	background-size: 25px;
}
.rgdev-rotate {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.rgdev-submenu-item {
	position: static;
	margin: 0px;
	padding: 0px;
	white-space: normal;
}

.megamenu-sub{background:#fff;}
/*.megamenu {
    position: inherit;
}*/
.megamenu-sub {
    float: left;
    width: 100%;
}
.megamenu-sub {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    float: left;
    left: 0;
    width: 85%;
}
/*.mengamenu-sub-sub {
    float: left;
    position: relative;
    width: 33.33%;
}*/
.megamenudiv .mengamenu-sub-sub {
    display: table-cell;
	border-right:1px solid rgba(0, 0, 0, 0.1);
	padding:0;
}
.megamenudiv {
    display: table;
    float: left;
    position: relative;
    width: 100%;
}
.rgdev-submenu.megamenu-sub::after{display:none;}
.mainhref {
    position: relative;
}
.megamenu:hover .mainhref::after {
    border-color: transparent transparent #ec008c;
    border-style: solid;
    border-width: 6px;
    bottom: 0;
    content: "";
    left: 47%;
    position: absolute;
    z-index: 1;
}
.width-small{min-width:100% !important;}

.menucol{width:20%; position:static;}
.rgdev-item:last-child .rgdev-submenu {
    right: 0;
}
@media only screen and (min-width:901px) {
.rgdev-list li:hover .megamenu {
	display: block;
}
.rgdev-list .rgdev-submenu .rgdev-submenu-sub {
	min-width: 700px;
	position: absolute;
	right: 100%;
	top: 0;
	display: none !important;
	margin: 0px;
	padding: 0px;
	background-color: #ffff;
	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.rgdev-submenu-sub:after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color:transparent transparent transparent #525252 ;
	border-image: none;
	border-style: solid;
	border-width: 6px;
	content: "";
	right: -12px;
	margin-top: 0;
	position: absolute;
	top: 12px;
	z-index: 1; display:none;
}
.rgdev-list .rgdev-submenu li:hover .rgdev-submenu-sub {
	display: block !important;
	list-style: none;
	margin: 0px
}
.rgdev-list li:hover .rgdev-submenu .rgdev-submenu-sub {
	display: block;
}
.rgdev-list .rgdev-submenu .rgdev-submenu-sub .rgdev-submenu-sub-sub {
	min-width: 180px;
	position: absolute;
	left: 65%;
	top: 15px;
	display: none !important;
	margin: 0px;
	padding: 4px;
	background-color: #525252;
	border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.rgdev-submenu-sub-sub:after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: transparent #525252 transparent transparent;
	border-image: none;
	border-style: solid;
	border-width: 6px;
	content: "";
	left: -12px;
	margin-top: 0;
	position: absolute;
	top: 12px;
	z-index: 1;
}
.rgdev-list .rgdev-submenu .rgdev-submenu-sub li:hover .rgdev-submenu-sub-sub {
	display: block !important;
	list-style: none;
	margin: 0px
}
.rgdev-submenu-item-sub {
	position: relative;
	padding: 0px;
	margin: 0px
}
.rgdev-submenu-item-sub-item-sub {
	position: relative;
	padding: 0px;
	margin: 0px
}
.rgdev-submenu-item-sub a{background-color:#fff;}
.mobilelink {
	display: none;
}
}

@media only screen and (min-width:230px) and (max-width:900px) {
    
.megamenu {position: relative;}
.megamenu .rgdev-click{z-index:1;}
.megamenu-sub{float:none;}
.mengamenu-sub-sub{width:100%; float:none;}
.megamenu:hover .mainhref::after {display:none;}
.megamenudiv{float:none !important;}
.megamenudiv .mengamenu-sub-sub{display:block !important;}

.rgdev-mobile {
	display: block;
}
.mobile-sub {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: none;
	width: 100%;
	position:absolute;
	left:0;
    top: 70px;
}
.mobile-sub li {
	margin: 0px 0px 0px 0px !important;
	display: block;
	padding:0; position:relative;
}
.mobile-sub a {
	display: block;
	color: #000;
	padding: 15px 25px;
	background: #fff !important;
	border-bottom: solid 1px #ccc;
	text-transform:uppercase;
	font-size:14px;
}
.mobile-sub li a.active {
	color: #000 !important;
	box-shadow: none
}
.mobile-sub li:hover>a {
	background-color: #f5f5f5 !important;
	box-shadow: none;
}
.rgdev {
	width: 100%;
	padding: 44px 0px 0px 0px !important;
/*	background-color: #2a2a2a;*/
   float:none;
	margin: 0px 0px; position:static;
}
.rgdev-list {
	display: none;
}
.rgdev-item {
	width: 100%;
	float: none;
	text-align: left;
}
.rgdev-item > a {
	padding: 13px;
	line-height: 20px !important;
}
.megamenudiv h4{margin:0;}
.mengamenu-sub-sub h4 a {
    color: #009abc;
    padding: 0 25px;
	font-size:14px;
	font-family:"Graphik-Medium";
}
.rgdev-click {
	display: block;
}
.rgdev-click02 {
	display: block;
}
.rgdev-mobile-open {
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
/*.rgdev-item:hover .rgdev-submenu {
	display: none;
}*/
.rgdev-submenu {
	position: static;
	width: 100%;
	padding: 0px;
	box-shadow: none;
	margin:0;
    z-index: 111;
}
.rgdev-submenu:after {
	border-color: transparent transparent transparent transparent;
	border-style: none;
}
.rgdev-submenu li {
	margin: 0px 0px 0px 0px !important;
}
.rgdev-submenu a {
	display: block;
	color: #000;
	padding: 12px 25px;
	background: #fff !important;
	border-bottom: solid 1px #ccc;
}
.rgdev-submenu li a.active {
	color: #000 !important;
}
.rgdev-submenu li:hover>a {
	background-color: #f5f5f5!important;
	color: #000;
}
.rgdev-submenu-sub {
	width: 100%;
	position: static;
	left: 100%;
	top: 0;
	display: none;
	margin: 0px;
	padding: 0px;
}
.rgdev-submenu-sub li {
	margin: 0px 0px 0px 0px !important;
	padding: 0px;
	position: relative;
}
.rgdev-submenu-sub a {
	display: block;
	color: #000;
	padding: 10px 25px 10px 25px;
	background: #fff !important;
	border-bottom: solid 1px #ccc;
	font-weight: normal;
}
.rgdev-submenu-sub li a.active {
	color: #000 !important;
}
.rgdev-submenu-sub li:hover>a {
	background-color: #a5a5a5 !important;
	color: #fff;
}
.rgdev-submenu-sub-sub {
	width: 100%;
	position: static;
	left: 100%;
	top: 0;
	display: none;
	margin: 0px;
	padding: 0px;
}
.rgdev-submenu-sub-sub li {
	margin: 0px 0px 0px 0px !important;
}
.rgdev-submenu-sub-sub a {
	display: block;
	color: #000;
	padding: 10px 25px 10px 25px;
	background: #fff !important;
	border-bottom: solid 1px #ccc;
	font-weight: normal;
}
.rgdev-submenu-sub-sub li a.active {
	color: #000 !important;
}
.rgdev-submenu-sub-sub li:hover>a {
	background-color: #606060 !important;
	color: #fff;
}
.rgdev-text {
	display: block;
}
}


@media only screen and (max-width:1420px){

.rgdev {
   
	font-size: 13px;
	
}
}
@media only screen and (max-width:1277px){

.rgdev {
   
	font-size: 11px;
	
}
}

@media only screen and (max-width:1265px){
    .nv_bdr{
    display: none;
}
}


::selection{background-color: #edc34a; color: #fff;}
::-webkit-selection{background-color: #edc34a; color: #fff;}
::-moz-selection{background-color: #edc34a; color: #fff;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-decoration: none; -webkit-font-smoothing: antialiased;}

html, body, iframe, h1, h2, h3, h4, h5, h6{margin:0px; padding:0px; border:0px; font: inherit; vertical-align:baseline; font-weight:normal; font-size:12px; font-family: 'Montserrat Light'; -webkit-font-smoothing:subpixel-antialiased; font-smoothing:antialiased; font-smooth:antialiased; -webkit-text-size-adjust:100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing:subpixel-antialiased !important; font-smoothing:subpixel-antialiased !important; font-smooth:subpixel-antialiased; }

.clearfix:before, .clearfix:after{content: ""; display: table;}.clearfix:after{clear: both;}.clearfix{zoom: 1;}.cl{clear: both;}

img, object, embed, video { max-width:100%; border: 0; -ms-interpolation-mode: bicubic; vertical-align:middle; }.ie6 img{width:100%;}

table{border-collapse: collapse; border-spacing: 0; }
p{margin: 0px 0px 17px 0px; }p a, p a:visited { line-height: inherit; }

a{color: #333; text-decoration:none; outline: 0; } a:hover{color: #000; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; text-decoration:underline;}

ul, ol{margin-top:0px; margin-right:0px; margin-left:0px;  margin-bottom:0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;    box-sizing: border-box;  }
ol { list-style: none; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
li{ margin:0px; padding:0px; list-style-position:outside; }

fieldset{margin-bottom: 0px;}
select{padding: 3px; text-indent:inherit !important;}
label, legend {display: block;	font-weight: bold;	font-size: 13px;}
textarea{min-height: 60px;  font-size:12px; padding:5px 0px 5px 0px;}

input[type="text"], input[type="password"],  input[type="email"],  textarea,  select{ padding:2px 2px; outline: none; display: block; background: #fff; text-indent:4px; color:#2c2c2c; border: solid 1px #b9b9b9;  -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;  }
input[type="text"]:focus,  input[type="password"]:focus,  input[type="email"]:focus,  textarea:focus{ -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow: 0 0 3px rgba(0,0,0,.2); }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; display: inline;}
label span,  legend span {font-weight: normal; font-size: 13px;	color: #444;}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {cursor:pointer; padding:0; }
button::-moz-focus-inner,  input::-moz-focus-inner{border: 0;padding: 0;}
@media print {* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
a, a:visited { text-decoration: underline;} a[href]:after { content: " (" attr(href) ")"; } abbr[title]:after { content: " (" attr(title) ")"; } .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; } thead { display: table-header-group;} tr, img { page-break-inside: avoid;} img { max-width: 100% !important;}@page { margin: 0.5cm;} p, h2, h3 { orphans: 3; widows: 3; } h2, h3 { page-break-after: avoid; }}
a:hover{color:#000; text-decoration:none;} 

article, aside, details, figcaption, figure, footer, header, hgroup, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1;  }
audio:not([controls]) { display: none; }
[hidden] { display: none;}
abbr[title]{border-bottom: 1px dotted;}
dfn {font-style: italic; }
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin:1em 0; padding:0px;}
/*ins {background: #ff9; color: #000; text-decoration: none;}*/
mark{background: #ff0; color: #000; font-style: italic; font-weight: bold;  }

pre, code, kbd, samp { font-family: monospace, monospace, rgdevrgk~30x9x87; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word;  }
q { quotes: none;  }
q:before, q:after { content: ""; content: none;  }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;  }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
dd { margin: 0 0 0 40px; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0;  }

.ani-1, .ani-1 span, .ani-1 ul li{ -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.ani-1 a{ -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
.ani-1 a:hover, .ani-1 a:hover span, .ani-1 a:hover ul li{ -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#totop {opacity:0; filter:alpha(opacity=0); position:fixed; right:-59px;  width:49px; z-index:9999; display:block; top:85%; background-color:#404040; font-size:11px; color: #fff; text-align: center; padding: 7px 0 7px 0; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; font-family:Arial, Helvetica, sans-serif,rg-devrgk~30987;text-decoration:none; }
#totop:after {-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: transparent transparent #404040  transparent; border-image: none; border-style: solid; border-width:5px; content:""; left:50%; margin-top:0; position:absolute; top:-10px; z-index: 1; margin-left:-5px;}
#totop.on { right:20px; opacity:0.7; filter:alpha(opacity=70); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#totop.off{right:-59px; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
#totop:hover { opacity:1; filter:alpha(opacity=100)}
.massage{padding: 8px 35px 8px 14px; margin-bottom: 20px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); background-color: #fcf8e3; border: 1px solid #fbeed5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.close{float: right; font-size: 20px; font-weight: bold; line-height: 20px; color: #000000; text-shadow: 0 1px 0 #ffffff; opacity: 0.2; filter: alpha(opacity=20); text-decoration:none;}
.massage .close{position: relative; top: -2px; right: -21px;line-height: 20px;}
.massage-red{background-color: #F2DEDE; border-color: #EED3D7; color: #B94A48;} 
.massage-green{color: #468847; background-color: #dff0d8; border-color: #d6e9c6;}
.massage-yellow{color: #C09853;  background-color: #FCF8E3; border: 1px solid #FBEED5;}
.massage-blue{background-color:#D9EDF7; border-color: #BCE8F1; color: #3A87AD;}
