
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      font-family: 'Poppins', sans-serif;
}

.custom-nav {
    background-color: #3d4fbd;
    border: none;
    border-radius: 0;
}

a:hover,
a:focus{
    color:#337ab7;
}

.logo img {
    padding: 7px;
}

.signin-wraper h4 {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 24px;
    margin-top: 30px;
}

.signin-wraper .form-control {
    border-radius: 0;
    height: 50px !important;
}

.signin-wraper label {
    color: #333;
    font-size: 15px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.forget-pass a {
    color: #3d4fbd;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.btn-signup {
    background-color: #26bff3;
    border-radius: 0;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    height: 50px;
}

.btn-signup:hover,
.btn-signup:active,
.btn-signup:focus {
    background-color: #24a4d0;
    color: #fff;
}



.btn-borderd {
    background-color: transparent;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    border: 2px solid #3d4fbd;
        line-height: 32px;
}

.btn-borderd:hover,
.btn-borderd:active,
.btn-borderd:focus {
    background-color: #26bff3;
    color: #fff;
    border: 2px solid #26bff3;
}


.signin-wraper {
    margin-top: 100px;
}

.or-text {
    color: #333;
    font-size: 16px;
    font-weight: 500;
}



/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
    background-color: #2a3448;
    padding: 20px;
}


.footer li a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 58px;
}

.social-link li i {
    color: #fff;
}

.footer ul {
    margin-bottom: 0;
}

.signin-wraper .nav-tabs>li.active>a,
.signin-wraper .nav-tabs>li.active>a:focus,
.signin-wraper .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #26bff3;
    border: 1px solid #26bff3;
    border-bottom-color: transparent;
    font-size: 18px;
    font-weight: 500;
}

.signin-wraper .nav-tabs>li>a {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.signin-wraper .nav-tabs {
    border-bottom: none;
    text-align: center;
}

.custom-select {
    width: 68px !important;
}



.custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 25px;
}


/* Hide the browser's default radio button */

.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.custom-radio:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.custom-radio input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.custom-radio input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.custom-radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.m-top {
    margin-top: 12px;
}

.col-center {
    float: none;
    margin: auto;
}

.login-box {

    width: 626px;
}

.signin-wraper {
    margin-bottom: 100px
}

.enter-text {
    color: #333;
    font-size: 16px;
    margin-bottom: 15px;
}

.phone-no {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.otp-modal .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #26bff3 !important;
    border-radius: 0;
}

.otp-modal .modal-header {
    border: none;
}

.otp-input {
    margin-bottom: 40px;
}

.otp-modal .modal-body {
    margin-bottom: 30px;
    padding: 0px 45px;
}

.resend-otp {
    margin-top: 15px;
}

.fa-times-circle,
.close {
    color: #26bff3;
    opacity: 5 !important;
}

.otp-modal .modal-content {
    border-radius: 0;
}

.custom-select-dropdown {
    position: relative;
}

.custom-select-dropdown .fa {
    position: absolute;
    right: 22px;
    top: 42px;
    z-index: 999;
}

.custom-select {
    font-size: 16px;
    padding: 10px;
}

.error {
    color: red!important;
}


.signin-wraper .nav-tabs>li {
    float: none;
    width: 40%;
}

.signin-wraper .nav>li {
    display: inline-block;
}

.progress {
    margin-top: 10px;
}

.password-text {
    padding-left: 20px;
}

.signin-wraper .nav-tabs>li>a {
    border-radius: 0;
}