@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:200px) and (max-width:500px){
.navigation{padding-bottom:0;}
.patientlogin{width:100% !important;}
.headinglogin .col-md-6:first-child .patientlogin{margin-bottom:0;}
.testi_slider .flex-viewport{height:auto !important}

}
@media only screen and (min-width:501px) and (max-width:767px){
.navigation{width:70%; float:right; border:0;}
.heading_seach{border-bottom:1px solid #fff;}
.patientlogin{width:100%;}
.app_mockup{text-align:center;}
.testi_slider .flex-viewport{height:auto !important}
}
@media only screen and (min-width:768px) and (max-width:900px){
.navigation{width:70%; float:right; border:0;}
.heading_seach{border-bottom:1px solid #fff;}
.patientlogin{width:90%;}
.app_mockup{text-align:center;}
.testi_slider .flex-viewport{height:auto !important}
.features{padding-bottom:0;}
.social_links a{font-size: 18px;  height: 35px; line-height: 35px; width: 35px;} 
.loginsbuttn li{display:inline-block; width:48%; margin:0 1%; float:left;}
.health{margin-top:0;}
}
@media only screen and (min-width:901px) and (max-width:1023px){
.navigation{width:70%; float:right; border:0;}
.heading_seach{border-bottom:1px solid #fff;}
.patientlogin{width:90%;}
.app_mockup{text-align:center;}
.testi_slider .flex-viewport{height:auto !important}
.features{padding-bottom:0;}
.social_links a{font-size: 18px;  height: 35px; line-height: 35px; width: 35px;} 
.loginsbuttn li{display:inline-block; width:48%; margin:0 1%; float:left;}
.health{margin-top:0;}
}
@media only screen and (min-width:1024px) and (max-width:1200px){
.navigation{width:80%;  }
.heading_seach{}
.patientlogin{width:100%;}
.app_mockup{text-align:center;}
.testi_slider .flex-viewport{height:auto !important}
.features{padding-bottom:0;}
.social_links a{font-size: 18px;  height: 35px; line-height: 35px; width: 35px;} 
.loginsbuttn li{display:inline-block; width:48%; margin:0 1%; float:left;}
.health{margin-top:0;}
.rgdev{width:60%;}
.nav_second{width:40%;}
}
@media only screen and (min-width:1201px) and (max-width:1279px){}
@media only screen and (min-width:1280px) and (max-width:1365px){}
@media only screen and (min-width:1366px) and (max-width:1439px){}
@media only screen and (min-width:1440px) and (max-width:1539px){}
@media only screen and (min-width:1540px) and (max-width:1599px){}




@media only screen and (max-width:767px){


.nav_second{position:absolute; top:20px; right:0; width:75%;}
.p_login > a{font-size:13px;}
.headinglogin .col-xs-12{padding:0;}


.feat_box{margin-bottom:30px;}
.playstores{text-align:center;}
.speciality_tabs ul::after{display:none;}
.joingroup, .testimonials{height:auto !important; padding: 20px !important;}
.heading, .txt2{font-size:22px;}
.buttons{text-align:center;}
.cd-testimonials-wrapper {padding:40px 0;}
.subcription_input{width:100%;}
.subc_btn{position:relative;width:100%; border-radius:5px;}
.socialhelp{padding:0;}
.footer_box{margin-bottom:30px;}
.copyright{margin:20px 0 0;}
}
@media only screen and (max-width:900px){


.nav_second{position:absolute; top:20px; right:0; width:75%;}
.p_login > a{font-size:13px;}
.headinglogin .col-xs-12{padding:0;}


.feat_box{margin-bottom:30px;}
.playstores{text-align:center;}
.speciality_tabs ul::after{display:none;}
.joingroup, .testimonials{height:auto !important; padding: 20px !important;}
.heading, .txt2{font-size:22px;}
.buttons{text-align:center;}
.cd-testimonials-wrapper {padding:40px 0;}

.socialhelp{padding:0;}
.footer_box{margin-bottom:30px;}
.copyright{margin:20px 0 0;}
}


@media only screen and (max-width:1366px){
	.testimonials{padding:65px;  height: 460px;}
	.joingroup{height: 460px; padding:80px 0 80px 250px;}
	.testimonial-container{width:100%;}
	
}