body{
	font-family: 'Open Sans', sans-serif !important;
}
button{outline: none !important;transition:ease-in-out 0.5s;}

.dark-blue {
    color: #03126d;
}

#sub-head {
    height: 115px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 10px 15px 10px 15px;
    text-align: center;
}
#sub-head-items {
    height: 40px;
    margin: 38px 0;
    padding: 0 24px;
}
.view-change-button {
    float: left;
}
.gray-button.round {
    width: 38px;
    height: 38px;
    line-height: 40px;
    display: inline-block;
    padding: 0;
    margin: 0 16px;
    position: relative;
    top: 0;
}
#date-heading {
    font-weight: normal;
    font-size: 32px;
    display: inline-block;
    min-width: 417px;
    position: relative;
    top: -9px;
}
.right-icon {
    background-image: url(../images/right-icon.png);
    width: 40px;
    height: 40px;
    position: absolute;
    right: -2px;
    top: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.left-icon {
    background-image: url(../images/left-icon.png);
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#main {
    padding-bottom: 0
}

/*.calendar_div > div#calendar {
    height: 559px;
    overflow: hidden;
}*/
.calendar_div > div >div .fc-left button {
    padding: 1px 30px;
    height: auto;
    border-radius: 50px;
    background: #1ab2e6;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
	box-shadow: none;
}
.calendar_div hr.fc-divider.fc-widget-header {
    border: none;
}
.fc-business-container .fc-nonbusiness.fc-bgevent {
    
	cursor: pointer;
}
div#mycalendar .fc-view > table > tbody > tr:first-child > td .fc-content-skeleton > table > tbody > tr > td:nth-child(7) .fc-content-col .fc-business-container .fc-nonbusiness, div#calendar .fc-view > table > tbody > tr:first-child > td .fc-content-skeleton > table > tbody > tr > td:last-child .fc-content-col .fc-business-container .fc-nonbusiness.fc-bgevent {
    background: repeating-linear-gradient( 118deg, #ffffff, #ccc 0px, #eee 5px, #ddd 1px );
}
.fc-time-grid .fc-slats td {
    cursor: pointer;
}
.fc-time-grid .fc-slats > table > tbody > tr > td:first-child {
    background-color: #f0fcff;
}
.fc-time-grid .fc-slats > table > tbody > tr:nth-child(even) > td:first-child {
    background-color: #e7efff;
}
div#modalBody .form-group label, .choose_patient > label {
    font-weight: 600;
	display: block;
}
div#modalBody .form-group input, div#modalBody .input-group select, div#daily_hours_override_dialog .modal-body select, div#modalBody .form-group select.form-control {
    outline: none;
    box-shadow: none;
    border: 1px solid #dcdcdc;
    /* height: 40px; */
	border-radius: 3px;
	padding: 8px 10px 10px;
	background: #fff;
}
div#createEventModal .modal-header h4, div#daily_hours_override_dialog .modal-header h4, #modal_third .modal-header h4 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    font-weight: 600;
    color: #fff;
}
div#modalBody, div#createEventModal .modal-footer, #modal_third .modal-footer {
    padding: 15px 30px;
	text-align: center;
}
div#modalBody{padding: 15px 30px 10px;}
div#modalBody .form-group {
    margin-bottom: 10px;
	text-align: left;
}
div#modalBody .form-group label span, div#daily_hours_override_dialog .modal-body label span, .choose_patient > label span {
    color: #ef3f3f;
}
div#createEventModal .modal-header button.close, div#daily_hours_override_dialog .modal-header button.close, #modal_third .modal-header button.close {
    width: 25px;
    height: 25px;
    background: #1ab2e6;
    opacity: inherit;
    color: #fff;
    border-radius: 100%;
    padding-bottom: 3px;
}
div#modalBody .form-group .input-group.date {
    width: 100%;
}
div#createEventModal .modal-footer button.btn, div#daily_hours_override_dialog .modal-footer button.btn, #modal_third .modal-footer button.btn {
    border-radius: 50px;
    min-width: 100px;
    height: 40px;
    font-weight: 600;
	border: 1px solid #ccc;
    line-height: 0;
	background: none;
}
div#createEventModal.modal-footer button.btn:hover, div#createEventModal .modal-footer button#submitButton, div#daily_hours_override_dialog .modal-footer button#submitButton2, #modal_third .modal-footer button.btn-primary{
	background:#4cae4c;
	color:#fff;
	border: 1px solid #4cae4c;
}
div#createEventModal .modal-footer button#submitButton:hover, div#,div#daily_hours_override_dialog .modal-footer button:hover{
	background:none;
	color:#333;
	border: 1px solid #ccc;
}
div#modalBody >.row, .choose_patient {
    margin: 0 -8px;
}
div#modalBody >.row >div, .choose_patient > div {
    padding: 0 8px;
}
.calendar_div .fc-view > table table th {
    padding: 10px 7px;
    font-weight: 600;
    font-size: 10px;
    color: #000;
	/*background: #1ab2e6;*/
	border: 1px solid #ccc;
    text-align: center;
}
.calendar_div .fc-event, .calendar_div .fc-event-dot {
    background: #337ab7;
    border: 1px solid #337ab7;
    padding-top: 8px;
    text-align: center;
}
div#search_time select {
    width: 65%;
    font-weight: 600;
    color: #000;
}
#search_time > span{
	font-size: 15px;
}
#search_time > span.to_spn {
    margin: 8px 10px;
    display: inline-block;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333;
}
.calendar_div .fc-view > table table th a[data-goto] {
    /*color: #fff;*/
}
.clr_box {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.clr_box span {
    width: 100%;
    margin-bottom: 16px;
    font-size: 15px;
    display: block;
    font-weight: 600;
    color: #424242;
}
.clr_box span b {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 11px;
    border-radius: 100% !important;
    vertical-align: middle;
}
.clear {
    clear: both;
}
.new_appo {
    float: right;
    background: #1ab2e6;
    color: #fff;
    border: none;
    padding: 5px 0 0;
    margin-bottom: -35px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.calendar_div .dropdown{
	float: right;
}
/*.clr_box {
    margin-bottom: 20px;
    max-width: 530px;
	margin: -22px 0 29px 30px;
}*/

#datetimepicker1 + .bootstrap-datetimepicker-widget.usetwentyfour {
    display: block !important;
}


div#daily_hours_override_dialog .search_tm {
    display: block;
}
div#daily_hours_override_dialog .search_tm input{
	width:auto
}

div#daily_hours_override_dialog .modal-dialog .modal-content {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
div#daily_hours_override_dialog .modal-body, div#daily_hours_override_dialog  .modal-footer {
    padding: 20px 30px;
	text-align:center;
}
div#daily_hours_override_dialog .modal-body .form-group {
    margin-bottom: 0;
}


/*div#mycalendar .fc-view > table .fc-scroller {
    height: 400px !important;
}*/
/*div#mycalendar .fc-view > table > thead > tr > td {
    background: #1ab2e6;
}*/
div#mycalendar .fc-view > table > tbody > tr:first-child > td > .fc-day-grid{
	/* background: repeating-linear-gradient( 118deg, #ffffff, #fff 0px, #eee 5px, #ddd 1px ); */
	display: none;
}
.redio_click {
    display: none;
}
.redio_click.time_hidn {
    display: block;
}
div#daily_hours_override_dialog .modal-body .redio_btn label {
    font-weight: normal;
	    margin: 0;
}
.calendar_div > div >div .fc-left button:hover{
	background-color: #d4d4d4;
	color:#666;
}


.fc-header-hours-icon{
    top:3px;
}
.fc-widget-header .fc-header-hours-icon{
	/*display: none;*/

}

.fc-toolbar button{
	top: -5px;
	background: #5cb85c;
	color: #fff;
}
.fc button .fc-icon{
	 top: -2px;
}
.fc-toolbar button:hover{
	background: #fff;
	color: #333;
}
.calendar_div .fc-view > table table th.fc-axis span {
    display: none;
}
.modal-dialog .modal-header, div#daily_hours_override_dialog .modal-header, #modal_third .modal-header {
    background: #1ab2e6;
	text-align:center;
	color:#fff;
}
.calendar_div .fc-view > table table th.fc-today span{
	background-position: 0px 20px !important;
}
/*  ================================================= */
.redio_btn label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

label.switch input {display:none;}

label.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

label.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

label.switch input:checked + .slider {
  background-color: #1ab2e6;
}

label.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

label.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
label.switch .slider.round {
  border-radius: 34px;
}

label.switch .slider.round:before {
  border-radius: 50%;
}
/*  ================================================= */
div#daily_hours_override_dialog .modal-footer button.btn:hover{
	background:#f7f7f7;
}
div#daily_hours_override_dialog .modal-footer button#submitButton2{
	background:#4cae4c;
}
div#daily_hours_override_dialog .modal-footer button#submitButton2:hover, div#createEventModal .modal-footer button#submitButton:hover, #modal_third .modal-footer button.btn-primary:hover{
	background: #3b903b;
}
div#daily_hours_override_dialog .modal-body .redio_btn label:first-child input[type="radio"] {
    margin-top: 0px;
    vertical-align: middle;
}
div#daily_hours_override_dialog .modal-body .redio_btn label:first-child {
    margin: 8px 0 0;
    float: left;
}
.fc-ltr .fc-axis {
    padding: 0 7px;
}

div#modalBody .input-group input{
    
}

div#modalBody .form-group div#search_time {
    display: block;
}
div#modalBody .redio_bttn label input[type="radio"] {
    vertical-align: middle;
	height: auto;
    margin: 0;
}
div#modalBody .redio_bttn label {
    display: inline-block;
	margin: 0 15px 0 0;
}
div#modalBody .redio_bttn label:first-child {
    margin-bottom: 10px;
	display: block;
}
.choose_patient > label {
    padding: 0 15px;
	    text-align: left;
}
div#mycalendar .fc-center {
    margin-left: -105px;
}
div#modalBody .form-group input#datetimepicker4 {
    border: 1px dashed #dcdcdc;
}
div#modalBody .form-group #eventDescription {
    resize: vertical;
    height: 70px;
	border: 1px solid #dcdcdc;
	box-shadow: none;
}
.fc-nonbusiness {
	background: repeating-linear-gradient( 118deg, #ffffff, #ccc 0px, #eee 5px, #ddd 1px );
}
.redio_btn2 label.switch {
    float: none;
	vertical-align: middle;
    margin-left: 15px;
}
.redio_btn2 label {
    font-weight: 600;
    font-size: 18px;
}
.redio_btn.redio_btn2 {
    margin-bottom: 15px;
}
.new_appo span.glyphicon.glyphicon-cog {
    font-size: 25px;
}
.calendar_div > .dropdown ul {
    top: 40px;
    width: 200px;
    right: 0 !important;
    left: auto;
	padding: 6px 0;
}
#modal_third .modal-dialog {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
#modal_third .modal-body label {
    width: 100px;
    font-weight: 500;
    color: #000;
    float: left;
	margin: 6px 0 0;
	text-align: left;
}
.work_hours {
    width: 73%;
    display: inline-block;
}
.work_hours select {
    width: 43%;
    height: 35px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
	text-align: right;
	vertical-align: middle;
	outline: none;
	padding: 5px;
}
.work_hours span.to_spn {
    width: 10%;
    display: inline-block;
    text-align: center;
}

.input-full {
   width: 72%;
   display: inline-block;
}

.input-full select {
    border-radius: 4px !important;
}
#modal_third .modal-body {
    padding: 20px 40px 8px;
}
form.work_form {
    text-align: right;
}
.calendar_div > .dropdown ul button,
.calendar_div > .dropdown ul a {
    background: none;
    border: none;
    color: #333;
    padding: 0 12px;
    width: 100%;
    text-align: left;
    line-height: 38px;
}
.calendar_div > .dropdown ul button:hover,
.calendar_div > .dropdown ul button:focus,
.calendar_div > .dropdown ul a:hover,
.calendar_div > .dropdown ul a:focus {
    background-color: #1ab2e6;
    color: #fff;
}
.ManageWorkingHours {
    background: none;
    border: none;
    color: #333;
    padding: 5px 12px;
    width: 100%;
    text-align: left; 
}
.fc-unthemed td.fc-today {
    background: none;
}
/*======*/
.fc-toolbar h2 {
    margin: 0;
    width: 290px;
}


@media (min-width:992px) and (max-width:1050px){
	.calendar_div .fc-center > div h2 {
		max-width: 380px;
	}
	.calendar_div .fc-center {
		
	}
}
@media (max-width:991px){
	.calendar_div .fc-center {
		width: 100%;
		margin-top: 15px;
		max-width: 600px;
		display: block;
		margin: 0 auto;
		padding-top: 65px;
	}
	div#mycalendar .fc-center {
		margin-left: auto;
	}
}

@media (max-width:767px){
	.clr_box{
		margin: 20px 0 20px 10px;
	}
	.clr_box span {
		width: 100%;
		float: none;
		display: block;
	}
	.calendar_div .fc-center > div {
		max-width: 563px;
		margin: 0 auto !important;
		float: none;
	}
	.calendar_div .fc-center > div h2 {
		max-width: 220px;
		width: 100%;
		font-size: 20px;
		margin-top: 8px;
	}
	.calendar_div .fc-view > table tbody.fc-body tr td.fc-widget-content .fc-scroller.fc-time-grid-container {
		height: auto !important;
	}
	.calendar_div div > .fc-toolbar .fc-left {
		width: 100%;
		margin: 0 auto;
		max-width: 100px;
	}
	.work_hours, #modal_third .modal-body label {
		width: 100%;
		text-align: left;
		float:none;
	}
	form.work_form .form-group {
		margin-bottom: 4px;
	}
	.work_hours select {
		width: 43.4%;
	}
	#modal_third .modal-body label{
		margin: 4px 0;
	}
}

.fc-toolbar button.fc-myCustomButton-button {
    margin-right: 50px !important;
    background-color: #fff;
    border-radius: 25px;
    color: #000;
    padding: 0 40px 0 30px;
    position: relative;
}

.fc-toolbar button.fc-myCustomButton-button::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: '\f02f';
    position: absolute;
    right: 20px;
    top: 11px;
}

.calendar_div {
    padding-top: 18px;
}


#datetimepicker12 .bootstrap-datetimepicker-widget td.day {
    line-height: 10px;
    font-size: 12px;
}

#datetimepicker12 th.dow {
    font-size: 14px;
}

#datetimepicker12 table > tbody > tr {
    height: 35px;
}

.bootstrap-datetimepicker-widget table {
    width: 85%;
    margin: 0;
}

@media print {
    .no-print,
    body .ui-pnotify.ui-pnotify-in,
    .d-header,
    footer,
    #dLabel,
    .fc-toolbar.fc-header-toolbar {
        display: none !important;
    }
    body .ui-pnotify.ui-pnotify-fade-in {
        opacity: 0 !important;
    }
    .print-w-full {
        width: 100% !important;
    }
}