.rating-container .filled-stars {
	text-shadow: none;
    -webkit-text-stroke: 1px #ffae00;
}

.course-detail-box .fa-star,
.filled-stars .glyphicon-star {
	color: #ffae00;
}

.rating-xs {
    font-size: 2em;
}

.course-detail-box .rating {
	font-size: 18px;
}

.course-detail-box .box .rating-xxs {
	text-align: center;
}

.card.user .rating {
	margin-top: 10px;
	margin-bottom: 10px;
}

.feedback .rating-xxs {
	display: inline-block;
}

.review-form .star i {
	font-size: 24px;
}