.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  font: 16px Arial;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
}
.autocomplete-items div:last-child {
  border-bottom: 1px solid #d4d4d4; 

}
.autocomplete-items div:not(.doctorLabel):hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.doctorLabel,
.doctorLabel:hover{
    cursor: auto;
    font-size: 15px;
    /* padding-bottom: 0; */
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.highlight{
    color: rgb(255, 100, 115);
}
#docList{
    padding-bottom: 0;
    padding: 0px;
    /* cursor: pointer; */
}