/* css start here */
/* *{
	margin:0;
	padding:0;
}
body{
	font-family: 'Open Sans', sans-serif;
 
}
img{
	max-width:100%;
}
ul{
	margin:0;
	padding:0;
}

li{
	list-style:none;
}
a{
	display:inline-block;
	outline: medium none !important;
	text-decoration:none !important;
}
p{
	margin:0;
	color:#909090;
	font-size:15px;
} */
/* h1, h2, h3, h4, h5, h6{
	margin:0;
	color:#4B4B4C;
	font-weight: 700;
	font-family: Open Sans, sans-serif;
} */
.calendar_div {
    /* max-width: 700px; */
    width: 100%;
	/* margin: 40px auto; */
}
.fc-center > h2 {
    color: #faa731;
    font-size: 18px;
}
.fc-toolbar > div > button {
    background: #1ab2e6;
	width:100% !important;
	font-family: Open Sans, sans-serif !important;
	padding:15px;
	outline:none;
	color: #fff;
}
div#calendar .fc-center h2 {
    width: 100%;
	font-size: 14px;
}
div#calendar .fc-left, div#calendar .fc-right {
    width: 30%;
}
.fc-toolbar > div > button span:after {
    font-family: arial;
}
div#calendar table table th:first-child{display:none;}
div#calendar table table th {
    padding: 10px 35px;
	text-align: center;
	background:#c8e0e8;
}
div#calendar table table th:nth-child(odd) {
	background:#fff;
}
div#calendar table table th:nth-child(5) {
	background:#f9f9f9;
}
div#calendar table thead.fc-head > tr >td > div, #calendar table tbody.fc-body tr >td > div > div.fc-row.fc-week.fc-widget-content{
	border:none !important;
}
#calendar table tbody.fc-body tr >td table tr td:first-child{display:none;}
div#calendar table table tr >td {
    padding: 10px;
    text-align: center;
	position: relative;
	border-bottom: 1px solid transparent !important;
}

/* div#calendar table .fc-bg > table > tbody > tr > td:nth-child(odd){ */
	/* background:#f6f6f6 !important; */
/* } */
div#calendar table .fc-bg > table > tbody > tr > td:nth-child(even){
	background:#f4fcff !important;
}
div#calendar table .fc-bg > table > tbody > tr > td:nth-child(5){
	background:#f6f6f6 !important;
}
div#calendar table td .fc-event-container a {
    border: none;
    bottom: auto !important;
    width: 108%;
    left: -9px !important;
    background: #2fc7f8;
}
div#calendar table table td .fc-event-container a:hover{
	background:#faa731;
}
div#calendar > .fc-toolbar.fc-header-toolbar {
    margin: 0 !important;
	    height: 48px;
}
.fc-day-grid.fc-unselectable {
    display: none;
}
div#calendar table table th a {
    color: #333;
    font-size: 12px;
    max-width: 40px;
}
div#calendar .fc-view >table >thead.fc-head >tr > td {
    border-top: none;
}
div#calendar >.fc-view-container {
    margin: 0;
}

 hr.fc-divider.fc-widget-header {
    display: none !important;
}
div#calendar table table td .fc-event-container a .fc-content .fc-time, div#calendar table table td .fc-event-container a .fc-content .fc-title {
    font-size: 12px;
}

div#calendar .fc-center{
	position: relative;
}
div#calendar .fc-center:before, div#calendar .fc-center:after {
	display: block;
    width: 0;
    position: absolute;
    z-index: 99;
    top: 6px;
    font-size: 20px;
    cursor: pointer;
}
div#calendar .fc-center:before {
    left: 0;
    content: "<";
}
div#calendar .fc-center:after {
    right: 10px;
    content: ">";
}

/* 28-may-2018 css start here ===*/
.fc-scroller.fc-time-grid-container {
    /* height: 469px !important; */
    /* overflow: hidden !important; */
}
div#calendar table thead.fc-head > tr >td > div{
	margin-right: 0 !important;
}

.fc-toolbar > div > button:after {
    content: "0";
    width: 0;
    font-size: 0;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
	top: 24px;
}
.fc-toolbar > .fc-left > button:after {
	border-right: 8px solid #fff;
	left: 40px;
}
.fc-toolbar > .fc-right > button:after {
	border-left: 8px solid #fff;
    right: 56px;
}

.modal_foot {
    text-align: center;
}
.modal_foot button {
    background: #00f;
    color: #fff !important;
    padding: 10px 35px;
    border: none;
    outline: none !important;
    font-size: 16px;
    font-weight: 600;
}
.modal_foot button:hover, .calendar_div button.close:hover{
	background: #2fc7f8 !important;
}
.calendar_div button.close {
    width: 25px;
    height: 25px;
    background: #00f;
    opacity: inherit;
    color: #fff;
    border-radius: 100%;
    padding: 0 0 3px 1px;
}
.popup_div li {
    padding-bottom: 10px;
	    font-size: 16px;
}
.calendar_div .modal-body {
    padding: 15px 25px 10px;
}
.popup_div li span {
    display: inline-block;
    width: 180px;
}
.popup_div li name {
    font-weight: 600;
}
.calendar_div .modal-dialog {
    max-width: 550px;
    width: 100%;
}
.calendar_div .modal-header {
    padding-left: 25px;
}
.calendar_div .modal-header h4 {
    font-size: 22px;
}
.clr_box span{
	width:50%;
	float:left;
	font-size: 14px;
	margin-bottom: 10px;
}
.clr_box span b{
       width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
    vertical-align: bottom;
}
/* 28-may-2018 css end here ===*/
.clr_box {
    margin-bottom: 20px;
}




@media (max-width:767px){
	.fc-icon-left-single-arrow:after, .fc-icon-right-single-arrow:after {
		font-size: 12px;
	}
	.fc-toolbar > div > button, div#calendar .fc-center h2{		
		padding: 20px 0 !important;		
	}
	div#calendar .fc-center {
		width: 38%;
	}
	div#calendar .fc-center:before, div#calendar .fc-center:after{
		font-size:16px;
		    top: 18px;
	}
	
	div#calendar .fc-center h2{
		padding: 23px 0 !important;
		font-size: 12px;
	}
	div#calendar table table th {
		padding: 7px;
	}
	.calendar_div {
		padding:0 5px;
	}
}
@media (max-width:424px){
	.fc-icon-left-single-arrow:after, .fc-icon-right-single-arrow:after{
		font-size: 10px;
	}
	div#calendar .fc-center h2 {
		padding: 25px 0 !important;
		font-size: 11px;
	}
	div#calendar .fc-center:before, div#calendar .fc-center:after {
		font-size: 14px;
		top: 21px;
	}
	div#calendar .fc-center:after {
		right: 8px;
	}
	div#calendar table table th a{
		font-size: 10px;
	}	
	div#calendar table td .fc-event-container a{
		width: 41px;
		padding: 5px 0;
		left: -11px !important;
	}
	div#calendar table table td .fc-event-container a .fc-content .fc-time, div#calendar table table td .fc-event-container a .fc-content .fc-title {
		font-size: 10px;
	}
	
}