
<?php 
    echo $this->Html->css([
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
        'stripe/mystripe.css',
        'stripe/sepa.css'
    ])
?>

<style>
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/img/loading.gif') 
                50% 50% 
                no-repeat;
}
.modal span {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


</style>

<div class="col-sm-12">
<div class=" panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title text-center"><?= __("Complete Payment")?></h3>
    </div>


    <div class="panel-body">
        
        <ul class="nav nav-tabs tabs-left col-md-2 col-md-offset-2">
            <li class="active">
                <a href="#tab_a" data-toggle="pill">
                    <?= __("Credit/Debit Card")?>
                </a>
            </li>
            <li>
                <a href="#tab_b" data-toggle="pill">
                    <?= __("Sepa"); ?>
                </a>
            </li>
            <li>
                <a href="#tab_c" data-toggle="pill">
                    <?= __("Sofort (Klarna)")?>
                </a>
            </li>
        </ul>


        <div class="tab-content col-md-6">
            
            <div class="tab-pane active" id="tab_a">
                <h4>
                    <strong class="text-center"> <?= __("Pay By Credit/Debit Card")?> </strong>
                </h4>
                <div class="globalContent">
                    <main>
                        <section class="container-lg">
                            <div class="cell example example2">
                                <form>
                                    <div class="row">
                                        <div class="field">
                                            <div id="example2-card-number" class="input empty"></div>
                                            <label for="example2-card-number" data-tid="elements_examples.form.card_number_label">
                                                <?= __("Card number") ?>
                                            </label>
                                            <div class="baseline"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="field half-width">
                                            <div id="example2-card-expiry" class="input empty"></div>
                                            <label for="example2-card-expiry" data-tid="elements_examples.form.card_expiry_label">
                                                <?= __("Expiration"); ?>
                                            </label>
                                            <div class="baseline"></div>
                                        </div>
                                        <div class="field half-width">
                                            <div id="example2-card-cvc" class="input empty"></div>
                                            <label for="example2-card-cvc" data-tid="elements_examples.form.card_cvc_label">
                                                <?= __("CVC");?>
                                            </label>
                                            <div class="baseline"></div>
                                        </div>
                                    </div>
                                    <button type="submit" data-tid="elements_examples.form.pay_button">
                                        <?= __("Pay"); ?>
                                            <?= $this->Number->currency($plan->price, 'EUR');?>
                                    </button>
                                    <div class="error" role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17">
                                            <path class="base" fill="#000" d="M8.5,17 C3.80557963,17 0,13.1944204 0,8.5 C0,3.80557963 3.80557963,0 8.5,0 C13.1944204,0 17,3.80557963 17,8.5 C17,13.1944204 13.1944204,17 8.5,17 Z"></path>
                                            <path class="glyph" fill="#FFF" d="M8.5,7.29791847 L6.12604076,4.92395924 C5.79409512,4.59201359 5.25590488,4.59201359 4.92395924,4.92395924 C4.59201359,5.25590488 4.59201359,5.79409512 4.92395924,6.12604076 L7.29791847,8.5 L4.92395924,10.8739592 C4.59201359,11.2059049 4.59201359,11.7440951 4.92395924,12.0760408 C5.25590488,12.4079864 5.79409512,12.4079864 6.12604076,12.0760408 L8.5,9.70208153 L10.8739592,12.0760408 C11.2059049,12.4079864 11.7440951,12.4079864 12.0760408,12.0760408 C12.4079864,11.7440951 12.4079864,11.2059049 12.0760408,10.8739592 L9.70208153,8.5 L12.0760408,6.12604076 C12.4079864,5.79409512 12.4079864,5.25590488 12.0760408,4.92395924 C11.7440951,4.59201359 11.2059049,4.59201359 10.8739592,4.92395924 L8.5,7.29791847 L8.5,7.29791847 Z"></path>
                                        </svg>
                                        <span class="message"></span>
                                    </div>
                                </form>
                                <div class="success">
                                    <div class="icon">
                                        <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
                                            <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338"
                                                stroke-width="4" stroke="#000" fill="none"></path>
                                        </svg>
                                    </div>
                                    <h3 class="title" data-tid="elements_examples.success.title">
                                        <?= __("Payment successful"); ?>
                                    </h3>
                                    <p class="message">
                                        <span data-tid="elements_examples.success.message">
                                            <?= __("Wait ")?>...</span>
                                    </p>
                                    <a class="reset" href="#">
                                        <svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <path fill="#000000" d="M15,7.05492878 C10.5000495,7.55237307 7,11.3674463 7,16 C7,20.9705627 11.0294373,25 16,25 C20.9705627,25 25,20.9705627 25,16 C25,15.3627484 24.4834055,14.8461538 23.8461538,14.8461538 C23.2089022,14.8461538 22.6923077,15.3627484 22.6923077,16 C22.6923077,19.6960595 19.6960595,22.6923077 16,22.6923077 C12.3039405,22.6923077 9.30769231,19.6960595 9.30769231,16 C9.30769231,12.3039405 12.3039405,9.30769231 16,9.30769231 L16,12.0841673 C16,12.1800431 16.0275652,12.2738974 16.0794108,12.354546 C16.2287368,12.5868311 16.5380938,12.6540826 16.7703788,12.5047565 L22.3457501,8.92058924 L22.3457501,8.92058924 C22.4060014,8.88185624 22.4572275,8.83063012 22.4959605,8.7703788 C22.6452866,8.53809377 22.5780351,8.22873685 22.3457501,8.07941076 L22.3457501,8.07941076 L16.7703788,4.49524351 C16.6897301,4.44339794 16.5958758,4.41583275 16.5,4.41583275 C16.2238576,4.41583275 16,4.63969037 16,4.91583275 L16,7 L15,7 L15,7.05492878 Z M16,32 C7.163444,32 0,24.836556 0,16 C0,7.163444 7.163444,0 16,0 C24.836556,0 32,7.163444 32,16 C32,24.836556 24.836556,32 16,32 Z"></path>
                                        </svg>
                                    </a>
                                </div>

                                
                            </div>
                        </section>
                    </main>
                </div>
            </div>

            <div class="tab-pane" id="tab_b">
                <h4>
                    <strong class="text-center"> <?= __("Pay by Sepa"); ?> </strong>
                </h4>
                <?php
                     echo $this->Form->create(null, [
                         'url' => ['controller' => 'Payments', 'method' => 'payBySepa'],
                         'method' => 'post',
                         'id' => 'payment-form'
                         ]);
                ?>
                    <div class="form-row inline">
                        <div class="col">
                        <?php
                            echo $this->Form->control('name', [
                                'type' => 'text',
                                'label' => __('Name'),
                                'required' => true,
                                'error' => false,
                                'id'=> 'name',
                                'placeholder' => "Jenny Rosen"
                            ]);
                        ?>
                        </div>
                        <div class="col">
                        <?php
                            echo $this->Form->control('email', [
                                'type' => 'email',
                                'label' => __('Email Address'),
                                'required' => true,
                                'error' => false,
                                'id'=> 'email',
                                'placeholder' => "jenny.rosen@example.com"
                            ]);
                        ?>
                        </div>
                    </div>

                    <div class="form-row">
                        <label for="iban-element">
                        IBAN
                        </label>
                        <div id="iban-element">
                        <!-- A Stripe Element will be inserted here. -->
                        </div>
                    </div>
                    <div id="bank-name"></div>

                    <button>
                        <?= __("Pay"); ?>
                        <?= $this->Number->currency($plan->price, 'EUR');?>
                    </button>

                    <!-- Used to display form errors. -->
                    <div id="error-message" role="alert"></div>

                    <!-- Display mandate acceptance text. -->
                    <div id="mandate-acceptance">
                        <?= __("By providing your IBAN and confirming this payment, you are
                        authorizing Rocketship Inc. and Stripe, our payment service
                        provider, to send instructions to your bank to debit your account and
                        your bank to debit your account in accordance with those instructions.
                        You are entitled to a refund from your bank under the terms and
                        conditions of your agreement with your bank. A refund must be claimed
                        within 8 weeks starting from the date on which your account was debited"); ?>.
                    </div>

                <?= $this->Form->end(); ?>

            </div>


            <!-- SOFORT -->
            <div class="tab-pane" id="tab_c">
                <h4>
                    <?= __("Sofort (Klarna)")?>
                </h4>
                
                <?php
                     echo $this->Form->create(null, [
                         'url' => ['controller' => 'Payments', 'method' => 'payBySofort'],
                         'method' => 'post',
                         'id' => 'sofort-form'
                         ]);
                ?>
                    <div class="form-row inline">
                        <div class="col">
                        <?php
                            echo $this->Form->control('name', [
                                'type' => 'text',
                                'label' => __('Name'),
                                'required' => true,
                                'error' => false,
                                'id'=> 'sofortpayee',
                                'placeholder' => "Jenny Rosen"
                            ]);
                        ?>
                        </div>
                        <div class="col">
                        <?php
                            echo $this->Form->control('email', [
                                'type' => 'email',
                                'label' => __('Email Address'),
                                'required' => true,
                                'error' => false,
                                'id'=> 'email',
                                'placeholder' => "jenny.rosen@example.com"
                            ]);
                        ?>
                        </div>
                    </div>

                    <div id="bank-name"></div>

                    <button>
                        <?= __("Pay"); ?>
                        <?= $this->Number->currency($plan->price, 'EUR');?>
                    </button>

                    <!-- Used to display form errors. -->
                    <div id="error-message" role="alert"></div>

                    <!-- Display mandate acceptance text. -->
                    <div id="mandate-acceptance">
                        <?= __("By providing your IBAN and confirming this payment, you are
                        authorizing Rocketship Inc. and Stripe, our payment service
                        provider, to send instructions to your bank to debit your account and
                        your bank to debit your account in accordance with those instructions.
                        You are entitled to a refund from your bank under the terms and
                        conditions of your agreement with your bank. A refund must be claimed
                        within 8 weeks starting from the date on which your account was debited"); ?>.
                    </div>

                <?= $this->Form->end(); ?>
                                


            
            </div>

        </div>
    </div>

</div>

</div>


                
            </div>
        </section>
    </main>
</div>


<div class="modal">
    <span>
        <?= __("Please Wait..."); ?>
    </span>
</div>

<?php 
    echo $this->Html->script([
        'stripe/sepa.js'
    ])
?>