/** dashbaord **/

    .outer-box-red {
        border: 2px solid #4B95ED;
        color: #fff;
    }

    .outer-box-red .fa.fa-users {
        color: #636363;
        font-size: 36px;
        margin: 0 auto;
        text-align: center;
        padding: 52px 0;
    }

    .red-box {
        background: #D33C44;
        font-size: 22px;
        text-align: center;
        min-height: 130px;
        padding: 24px 0;
    }
    
    .outer-box-blue {
        border: 2px solid #4879c3;
        color: #fff;
    }
    .outer-box-blue-appointment{
        color: #333;
    }
    .blue-box {
        background: #4879c3;
        font-size: 22px;
        text-align: center;
        min-height: 130px;
        padding: 24px 0;
    }
    .outer-box-blue .fa.fa-user, 
    .outer-box-blue .fa-calendar-check-o {
        color: #636363;
        font-size: 36px;
        margin: 0 auto;
        text-align: center;
        padding: 52px 0;
    }
    .outer-box-green {
        border: 2px solid #08cf41;
        color: #fff;
    }
    .green-box {
        background: #4B95ED;
    font-size: 22px;
    text-align: center;
    min-height: 141px;
    padding: 35px 0;
    }
    .outer-box-green .fa-user-plus, 
    .outer-box-green .fa-file-text-o  {
        color: #636363;
        font-size: 36px;
        margin: 0 auto;
        text-align: center;
        padding: 52px 0;
    }
    .outer-box-yellow {
        border: 2px solid #ffc000;
        color: #fff;
    }
    .yellow-box {
        background: #ffc000;
        font-size: 22px;
        text-align: center;
        min-height: 130px;
        padding: 24px 0;
    }
    .outer-box-yellow .fa-home {
        color: #ffc000;
        font-size: 36px;
        margin: 0 auto;
        text-align: center;
        padding: 52px 0;
    }
    .outer-box-light-blue {
        border: 2px solid #3eb1ec;
        color: #fff;
    }
    .light-blue-box {
        background: #3eb1ec;
        font-size: 22px;
        text-align: center;
        min-height: 130px;
        padding: 24px 0;
    }
    .outer-box-light-blue .fa.fa-money {
        color: #3eb1ec;
        font-size: 36px;
        margin: 0 auto;
        text-align: center;
        padding: 52px 0;
    }

    .boxes-margin-bottom {
        margin-bottom: 25px;
    }

    .highcharts-button {
        display: none;
    }
    svg .highcharts-series.highcharts-series-0.highcharts-tracker rect {
        fill: #3c64a1;
    }
    .dashboard-top b {
        font-size: 19px;
        font-weight: 500;
    }

.heading-text-color {
    font-size: 25px;
    padding: 14px
}