<div class="modal fade myconfirm-modal" id="myRenewModel" role="dialog">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                <h4 class="modal-title text-center"><?= __("Confirm") ?> </h4>
            </div>
        <div class="modal-body">
            <p><?= __("Are you sure to CANCEL auto subscription of your plan?"); ?></p>
        </div>
        <div class="modal-footer" style="text-align: center">
            <form action="<?= $this->Url->build(['controller' => 'Payments', 'action' => 'listAndDeleteCards'])?>" method="get">
                <button type="submit" class="btn btn-model" ><?= __("Confirm") ?></button>
            </form>
        </div>
    </div>
      
</div>