 /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

 .modal {
     display: none;
     position: fixed;
     z-index: 1000;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: rgba( 255, 255, 255, .8) url('/img/loading.gif') 50% 50% no-repeat;
 }

 .modal span {
     position: absolute;
     top: 46%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

 body.loading .modal {
     overflow: hidden;
 }

 /* Anytime the body has the loading class, our
   modal element will be visible */

 body.loading .modal {
     display: block;
 }

 /*!
 * bootstrap-vertical-tabs - v1.1.0
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-06-06
 * Copyright (c) 2014 Ä°smail Demirbilek
 * License: MIT
 */

 .tabs-left {
     border-bottom: none;
     padding-right: 0;
 }

 .tabs-left>li {
     float: none;
     margin-bottom: 2px;
 }

 .tabs-left>li {
     margin-right: -1px;
 }

 .tabs-left+.tab-content {
     border: 1px solid #ddd;
     background-color: #fff;
     padding: 20px;
     min-height: 331px;
     /* border-right: 1px solid #ddd; */
 }

 .tabs-left>li.active>a,
 .tabs-left>li.active>a:hover,
 .tabs-left>li.active>a:focus {
     border-bottom-color: #ddd;
     border-right-color: transparent;
     position: relative;
     z-index: 1;
 }

 .tabs-left>li>a {
     border-radius: 4px 0 0 4px;
     margin-right: 0;
     display: block;
     padding: 20px 15px;
     border: 1px solid #ddd;
 }

 .panel-body {
     min-height: 70vh;
 }