html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    color: #6b7c93;
    background-color: #f7f8f9;
    overflow: hidden;
}

code {
    padding: 3px 6px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    color: #333333;
    background-color: #e6ebf1;
}

a>code {
    color: #0099E5;
}

.wrapper {
    height: 100%;
    width: 73%;
    margin: auto;
}

form {
    padding: 30px 0;
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.form-row {
    width: 100%;
    margin-top: 20px;
}

.form-row:first-child {
    margin-top: 0;
}

.form-row.inline {
    display: -ms-flexbox;
    display: flex;
}

.form-row.inline .col {
    width: 100%;
}

.form-row.inline .col:not(:last-child) {
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
}

input {
    width: 100%;
    outline: none;
}

input::placeholder {
    color: #aab7c4;
}

@-webkit-keyframes autofill {
    to {
        background: #fefde5;
        color: #32325d;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

button {
    display: inline-block;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.025em;
    text-decoration: none;
    white-space: nowrap;
    background: #24b47e;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

button:hover {
    background-color: #43458b;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
}

#bank-name+button {
    margin-top: 12px;
}

#error-message {
    margin-top: 12px;
    text-align: center;
    color: #fa755a;
}

#bank-name {
    margin-top: 8px;
}

#error-message,
#bank-name {
    min-height: 20px;
    font-size: 14px;
    opacity: 0;
    transform: translateY(4px);
    transition: all 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#error-message.visible,
#bank-name.visible {
    opacity: 1;
    transform: translateY(0);
}

#mandate-acceptance {
    margin-top: 8px;
    font-size: 14px;
    text-align: justify;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}

.wrapper.submitting form,
.wrapper.submitted form {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.wrapper.submitting .success,
.wrapper.submitted .success {
    pointer-events: all;
}

.wrapper.submitting .success .icon {
    opacity: 1;
}

.wrapper.submitted .success>* {
    opacity: 1;
    transform: none !important;
}

.wrapper.submitted .success> :nth-child(2) {
    transition-delay: 0.1s;
}

.wrapper.submitted .success> :nth-child(3) {
    transition-delay: 0.2s;
}

.wrapper.submitted .success> :nth-child(4) {
    transition-delay: 0.3s;
}

.wrapper.submitted .success .icon .border,
.wrapper.submitted .success .icon .checkmark {
    opacity: 1;
    stroke-dashoffset: 0 !important;
}

.success {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    pointer-events: none;
    overflow: hidden;
}

.success>* {
    opacity: 0;
    transform: translateY(50px);
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.success .icon {
    margin: 15px 0 30px;
    transform: translateY(70px) scale(0.75);
}

.success .icon svg {
    will-change: transform;
}

.success .icon .border {
    stroke: #6b7c93;
    stroke-dasharray: 251;
    stroke-dashoffset: 62.75;
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: spin 1s linear infinite;
}

.success .icon .checkmark {
    stroke: #6b7c93;
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}

.success .title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
}

.success .message {
    width: 60%;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
}

.success .message ul {
    display: inline-block;
    line-height: 1.8em;
    text-align: left;
}

#mandate:hover {
    color: #0099E5;
}

.success .reset:active {
    transition-duration: 0.15s;
    transition-delay: 0s;
    opacity: 0.65;
}

.success .reset svg {
    will-change: transform;
}

.success .reset path {
    fill: #6b7c93;
}

/**
      * The CSS shown here will not be introduced in the Quickstart guide, but
      * shows how you can use CSS to style your Element's container.
      */

input,
.StripeElement {
    height: 40px;
    padding: 10px 12px;
    color: #32325d;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

input:focus,
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}