<form name="photo" id="imageUploadForm" enctype="multipart/form-data" action="#" method="post">
    <input type="file" id="ImageBrowse" name="upload_image" size="30" />
    <input type="submit" name="upload" value="Upload" />
</form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

<script>
    $(document).ready(function (e) {
        $('#imageUploadForm').on('submit', (function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: "http://demo.bookdoc.at/api/users/uploadImage.json",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                crossDomain: true,
                beforeSend: function (request) {
                    request.setRequestHeader("Authorization", "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkZW1vLmRvY3RvcjFAeW9wbWFpbC5jb20iLCJleHAiOjE1MzQ3Njg0OTN9.y-olfMKRi2EIklsOFW9nM2wrTgcBaKkhuToJweTEQcA");
                },
                success: function (data) {
                    console.log("success");
                    console.log(data);
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                }
            });
        }));
    });

</script>